<div class="shop-layout">
  <div class="main-box">
    <div class="left-box" [routerLink]="[2, 'home']">
      <h3 class="title">Wholesale Store</h3>
      <img class="image" src="../../../assets/images/shop/home/wholesale.png" />
    </div>
    <div class="right-box" [routerLink]="['/e-seller']">
      <h3 class="title">E-seller</h3>
      <img class="image" src="../../../assets/images/shop/home/seller.png" />
    </div>
    <div class="middle-box" [routerLink]="[1, 'home']">
      <div class="middie-box-inner">
        <h3 class="title">Retail Store</h3>
        <img class="image" src="../../../assets/images/shop/home/retail.png" />
      </div>
    </div>
  </div>
</div>
