<div class="faq-layout">
  <div class="detial-box">
    <div class="title-box">
      <h4 class="title">FAQs</h4>
    </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title
          >Lorem ipsum dolor, sit amet consectetur adipisicing?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="answer">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
          explicabo sapiente laudantium enim totam quasi, quidem nisi, qui
          saepe, eaque illo ut iusto? Cupiditate odit dolor laudantium quod quam
          minus.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title
          >Lorem ipsum dolor, sit amet consectetur adipisicing?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="answer">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
          explicabo sapiente laudantium enim totam quasi, quidem nisi, qui
          saepe, eaque illo ut iusto? Cupiditate odit dolor laudantium quod quam
          minus.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title
          >Lorem ipsum dolor, sit amet consectetur adipisicing?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="answer">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
          explicabo sapiente laudantium enim totam quasi, quidem nisi, qui
          saepe, eaque illo ut iusto? Cupiditate odit dolor laudantium quod quam
          minus.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title
          >Lorem ipsum dolor, sit amet consectetur adipisicing?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="answer">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
          explicabo sapiente laudantium enim totam quasi, quidem nisi, qui
          saepe, eaque illo ut iusto? Cupiditate odit dolor laudantium quod quam
          minus.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title
          >Lorem ipsum dolor, sit amet consectetur adipisicing?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="answer">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
          explicabo sapiente laudantium enim totam quasi, quidem nisi, qui
          saepe, eaque illo ut iusto? Cupiditate odit dolor laudantium quod quam
          minus.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title
          >Lorem ipsum dolor, sit amet consectetur adipisicing?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="answer">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
          explicabo sapiente laudantium enim totam quasi, quidem nisi, qui
          saepe, eaque illo ut iusto? Cupiditate odit dolor laudantium quod quam
          minus.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title
          >Lorem ipsum dolor, sit amet consectetur adipisicing?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="answer">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
          explicabo sapiente laudantium enim totam quasi, quidem nisi, qui
          saepe, eaque illo ut iusto? Cupiditate odit dolor laudantium quod quam
          minus.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title
          >Lorem ipsum dolor, sit amet consectetur adipisicing?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="answer">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
          explicabo sapiente laudantium enim totam quasi, quidem nisi, qui
          saepe, eaque illo ut iusto? Cupiditate odit dolor laudantium quod quam
          minus.
        </p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
