<div class="donor-wall-layout">
  <div class="left-box">
    <div class="left-box">
      <div class="banner-profile">
        <img
          class="cover"
          src="../../../assets/images/donation/home/image-1.jpg"
        />
      </div>
      <div class="detail">
        <div class="top-detail">
          <h5 class="title">Red Panda Habitats</h5>
          <div class="detail-icon">
            <button>
              <app-share-popup></app-share-popup>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="report">
              <i class="fa fa-ellipsis-h icon"></i>
            </button>
            <mat-menu #report>
              <button mat-menu-item>
                <p class="popup-title">
                  <span>Report</span>
                </p>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="bottom-detail">
          <p class="content">
            <span>Jen McCarthy</span> is organizing this campaign for
            <span>World Wildelife Federation (WWF)</span>
          </p>
          <p class="duration">Created 3 days ago</p>
        </div>
      </div>
      <div class="description">
        <p class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
          reprehenderit, culpa laboriosam mollitia rem molestias, nemo beatae,
          debitis minus delectus sit possimus voluptatum quidem commodi animi et
          quos cumque! Ipsum non consectetur corrupti dignissimos nisi assumenda
          enim, inventore et qui tempore. Nam ducimus perferendis dolor sequi a,
          quas ad at beatae atque aut dignissimos eius possimus quisquam ab
          architecto distinctio perspiciatis quis dolorem? Consequuntur,
          inventore. Explicabo eum reiciendis earum nostrum omnis sit quod hic
          laboriosam quidem ratione! Nam nesciunt autem dolore labore
          consequuntur sint delectus magni sapiente voluptate culpa quae, nemo
          nulla, adipisci veniam harum vero, dolor minima. Hic, laborum.
        </p>
        <div class="stake-holder">
          <h5 class="title">Organizer:</h5>
          <div class="stake-holder-detail">
            <div class="image-box">
              <img
                src="../../../assets/images/donation/home/group-profile.jpg"
                class="image"
                alt=""
              />
            </div>
            <div class="name">
              <h6>Jen McCarthy</h6>
              <span>Organizer</span>
            </div>
          </div>
        </div>
        <div class="stake-holder">
          <h5 class="title">Beneficiary:</h5>
          <div class="stake-holder-detail">
            <div class="image-box">
              <img
                src="../../../assets/images/donation/home/group-profile.jpg"
                class="image"
                alt=""
              />
            </div>
            <div class="name">
              <h6>World Wildlife Federation(WWF)</h6>
              <span>Beneficiary</span>
            </div>
          </div>
          <div class="action-button">
            <button class="button color-button">Donate</button>
          </div>
        </div>
        <div class="comment-box-main">
          <h5 class="title">Comments</h5>
          <div class="comment-item-top">
            <div class="image-box">
              <img
                class="image"
                src="../../../assets/images/home/sidebar/profile-image.PNG"
              />
            </div>
            <div class="comment-box">
              <textarea class="field" placeholder="write a comment"></textarea>
            </div>
          </div>
          <ul class="comment-section">
            <li class="comment-item">
              <div class="image-box">
                <img
                  class="image"
                  src="../../../assets/images/home/sidebar/profile-image.PNG"
                />
              </div>
              <div class="comment-box">
                <div class="comment-box-inner">
                  <p class="title">
                    Emanuel
                    <span class="duration">2 mins ago</span>
                  </p>
                  <p class="comment">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Qui eveniet blanditiis, eius minus, laboriosam distinctio
                    neque quos, recusandae veritatis laudantium eaque minima
                    veniam nihil! Consectetur blanditiis rem eveniet soluta
                    facere.
                  </p>
                  <i class="fa fa-ellipsis-h icon"></i>
                </div>
              </div>
            </li>
            <li class="comment-item">
              <div class="image-box">
                <img
                  class="image"
                  src="../../../assets/images/home/sidebar/profile-image.PNG"
                />
              </div>
              <div class="comment-box">
                <div class="comment-box-inner">
                  <p class="title">
                    Emanuel
                    <span class="duration">2 mins ago</span>
                  </p>
                  <p class="comment">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Qui eveniet blanditiis, eius minus, laboriosam distinctio
                    neque quos, recusandae veritatis laudantium eaque minima
                    veniam nihil! Consectetur blanditiis rem eveniet soluta
                    facere.
                  </p>
                  <i class="fa fa-ellipsis-h icon"></i>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="right-box">
    <div class="right-box-inner">
      <ul class="donation-ratio">
        <h5 class="ratio-title">345 Donations</h5>
        <li class="item">
          <div class="donation-ratio-box">
            <p>
              <span class="value-left">$5,000</span> of
              <span class="value-right">12,000</span> donated
            </p>
            <div class="line">
              <span class="w-35"></span>
            </div>
          </div>
        </li>
      </ul>
      <div class="action-button">
        <button class="button color-button">Donate</button>
      </div>

      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>Top Donors</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-main-box">
            <div class="card-item">
              <div class="cards">
                <div class="donor row gx-0 align-items-center">
                  <div class="col-lg-3">
                    <img
                      class="avatar edge-sm"
                      src="../../../assets/images/donation/home/group-profile.jpg "
                    />
                  </div>
                  <div class="col-lg-9">
                    <p class="title">Anika Schuster</p>
                    <span class="total-amount">$100,000.00</span>
                    <span class="total-donation">300 donation</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-item">
              <div class="cards">
                <div class="donor row gx-0 align-items-center">
                  <div class="col-lg-3">
                    <img
                      class="avatar edge-sm"
                      src="../../../assets/images/donation/home/user.png"
                    />
                  </div>
                  <div class="col-lg-9">
                    <p class="title">Anonymous</p>
                    <span class="total-amount">$50,000.00</span>
                    <span class="total-donation">200 donation</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-item">
              <div class="cards">
                <div class="donor row gx-0 align-items-center">
                  <div class="col-lg-3">
                    <img
                      class="avatar edge-sm"
                      src="../../../assets/images/donation/home/user.png"
                    />
                  </div>
                  <div class="col-lg-9">
                    <p class="title">Anonymous</p>
                    <span class="total-amount">$40,000.00</span>
                    <span class="total-donation">50 donation</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
