<div class="forgot-layout">
  <div class="logo">
    <img
      class="image"
      src="../../../assets/images/authentication/logo-black.png"
    />
  </div>
  <div class="main-box" *ngIf="param.length <= 0">
    <h2 class="title">
      FORGOT YOUR
      <span>PASSOWORD?</span>
    </h2>
    <p class="content">
      Forgot your password? Please enter your email address.
    </p>
    <p class="content">You will receive a link in your email</p>
    <form [formGroup]="registerForm" class="form" (ngSubmit)="ForgetPassword()">
      <div class="field-container-main">
        <div class="field-container">
          <i class="far fa-envelope icon"></i>
          <input
            class="field"
            type="mail"
            placeholder="email"
            formControlName="email"
            [ngClass]="{ error: submitted && f.email.errors }"
          />
        </div>
      </div>
      <div class="action-button">
        <button class="button google-button border-gradient">
          Submit
          <img
            src="../../../assets/images/tail-spin.svg"
            alt="loading"
            width="23px"
            *ngIf="showLoading"
          />
        </button>
      </div>
    </form>
    <div class="bottom-line">
      <button class="button" [routerLink]="['/sign-in']">Sign in</button>
      <span>to your account</span>
    </div>
  </div>
  <div class="main-box" *ngIf="param.length > 0">
    <h2 class="title">
      UPDATE YOUR
      <span>PASSOWORD?</span>
    </h2>
    <form
      [formGroup]="resetPasswordForm"
      class="form"
      (ngSubmit)="ResetPassword()"
    >
      <p *ngIf="passwordNotMatched" class="error">
        Please make sure your password match.
      </p>
      <div class="field-container-main">
        <div class="field-container">
          <i class="fas fa-unlock-alt icon"></i>
          <input
            class="field"
            type="text"
            placeholder="password"
            formControlName="password"
            *ngIf="showPassword"
            [ngClass]="{ error: submitted && f2.password.errors }"
          />
          <input
            class="field"
            type="password"
            placeholder="password"
            formControlName="password"
            *ngIf="!showPassword"
            [ngClass]="{ error: submitted && f2.password.errors }"
          />
          <div class="show-password" (click)="showPassword = !showPassword">
            <i class="far fa-eye icon"></i>
          </div>
          <div *ngIf="submitted && f2.password.errors">
            {{
              "Password should have at least 8 characters. Password should contain alphabetic and numeric values."
            }}
          </div>
        </div>
        <div class="field-container">
          <i class="fas fa-unlock-alt icon"></i>
          <input
            class="field"
            type="text"
            placeholder="confirm password"
            formControlName="confirmPassword"
            *ngIf="showPasswordC"
            [ngClass]="{ error: submitted && f2.confirmPassword.errors }"
          />
          <input
            class="field"
            type="password"
            placeholder="confirm password"
            formControlName="confirmPassword"
            *ngIf="!showPasswordC"
            [ngClass]="{ error: submitted && f2.confirmPassword.errors }"
          />
          <div class="show-password" (click)="showPasswordC = !showPasswordC">
            <i class="far fa-eye icon"></i>
          </div>
        </div>
      </div>
      <div class="action-button">
        <button class="button google-button border-gradient">
          Submit
          <img
            src="../../../assets/images/tail-spin.svg"
            alt="loading"
            width="23px"
            *ngIf="showLoading"
          />
        </button>
      </div>
    </form>
    <div class="bottom-line">
      <button class="button" [routerLink]="['/sign-in']">Sign in</button>
      <span>to your account</span>
    </div>
  </div>
</div>
