$theme-primary: #23cf70;
$theme-bg-sidebar: #f3f3f3;
$theme-secondary: #9dccb3;
$theme-content: #b1b1b1;
$theme-content-dark: #a7a7a7;
$theme-background: #dfffee;
$theme-background-light: #e3e3e3;
$theme-background-white: #f0f0f0;
$theme-black: #222222;
$theme-white: #fff;
$theme-border: #cecece;
$theme-warning: #ed5b5d;
$theme-primary-dark: #18a09e;
$theme-gradient: linear-gradient(-60deg, #23cf70, #18a09e) border-box;
$theme-light-border: rgba(233, 233, 233, 0.5);
$theme-pink: #d8255f;
$theme-heart: #de2757;
