@import "../../../assets/partials/variable.scss";
.profile-layout {
  display: flex;
  padding: 20px 0;
  flex-flow: wrap;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $theme-white;
  .left-box {
    flex: 0 0 70%;
    .title-box {
      .title {
        font-size: 22px;
      }
    }

    .setup-box {
      width: 100%;
      padding: 0 10px;
      margin-left: auto;
      position: relative;
      .title-box {
        display: block;
        padding: 15px 0;
        .title {
          font-size: 20px;
          font-weight: 500;
          padding-bottom: 8px;
          color: $theme-black;
          border-bottom: 1px solid $theme-background-light;
        }
      }
      .listing {
        margin: 20px 0;
        padding: 0;
        list-style-type: none;
        .item {
          .label {
            width: 100%;
            display: block;
            font-size: 14px;
            font-weight: 600;
            padding-left: 5px;
            margin-bottom: 8px;
            color: $theme-black;
          }
          .image-upload-box {
            padding: 0;
            width: 100%;
            display: flex;
            margin: 20px 0;
            flex-flow: wrap;
            align-items: center;
            list-style-type: none;
            justify-content: flex-start;
            .image-main {
              cursor: pointer;
              margin-right: 10px;
              margin-bottom: 10px;
              .cover-box {
                margin: 0;
                width: 120px;
                height: 120px;
                cursor: pointer;
                position: relative;
                border-radius: 50%;
                background-color: #fbfbfb;
                border: 1px solid $theme-background-light;
                .cover-photo {
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                  object-fit: cover;
                  position: absolute;
                  border-radius: 50%;
                }
                .browse {
                  opacity: 1;
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                  position: absolute;
                  border-radius: 50%;
                  transition: 0.2s ease-out;
                  .upload-field {
                    opacity: 0;
                    z-index: 99;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    position: absolute;
                  }
                  .main {
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    display: flex;
                    cursor: pointer;
                    flex-flow: wrap;
                    position: absolute;
                    color: $theme-border;
                    align-items: center;
                    justify-content: center;
                    transform: translate(-50%, -50%);
                  }
                  .icon {
                    font-size: 30px;
                    cursor: pointer;
                  }
                  p {
                    width: 100%;
                    line-height: 1;
                    margin-top: 6px;
                    font-size: 12px;
                    margin-bottom: 0;
                    font-weight: 600;
                    text-align: center;
                  }
                }
                &:hover {
                  .browse {
                    opacity: 1;
                  }
                }
              }
              &:last-child {
                margin-right: 0;
              }
            }
          }
          form {
            .field {
              width: 100%;
              height: 45px;
              outline: none;
              border: unset;
              padding: 0 20px;
              font-size: 14px;
              font-weight: 600;
              appearance: none;
              border-radius: 8px;
              margin-bottom: 8px;
              color: $theme-black;
              background-color: $theme-bg-sidebar;
              &::placeholder {
                color: $theme-content;
              }
              &.arrow {
                cursor: pointer;
                background-size: 30px 11px;
                background-repeat: no-repeat;
                background-position: center right;
                background-image: url("../../../assets/images/profile/arrow.png");
              }
            }
            .text-field {
              resize: none;
              height: 100px;
              padding-top: 5px;
            }
            .fixed {
              position: relative;
              span {
                top: 50%;
                left: 25px;
                line-height: 1;
                font-size: 13px;
                margin-top: -5px;
                font-weight: 600;
                position: absolute;
                color: $theme-black;
                transform: translateY(-50%);
              }
              .field {
                padding-left: 55px;
              }
              &:last-child {
                .field {
                  padding-left: 40px;
                }
                &::before {
                  left: 45px;
                }
              }
              &::before {
                top: 50%;
                left: 60px;
                width: 2px;
                content: "";
                height: 25%;
                display: block;
                margin-top: -4px;
                position: absolute;
                transform: translateY(-50%);
                background-color: $theme-border;
              }
            }
          }
          .button {
            width: 220px;
            padding: 7px;
            font-size: 14px;
            font-weight: 600;
            border-radius: 25px;
            color: $theme-white;
            background-color: $theme-primary;
          }
        }
      }
    }
  }
  .right-box {
    flex: 0 0 30%;
    padding: 0px 20px;
    background-color: $theme-white;
    .right-box-inner {
      padding: 20px;
      border-radius: 8px;
      background-color: $theme-bg-sidebar;
      .card-main-box {
        .card-item {
          .cards {
            .content {
              .icon {
                margin: 0 4px;
                color: $theme-primary;
              }
            }
          }
        }
      }
    }
  }
}
// Responsive //
@media (max-width: 1920px) {
  .profile-layout {
    .left-box {
      .setup-box {
        .title-box {
          .title {
            font-size: 30px;
          }
        }
        .listing {
          .item {
            .label {
              font-size: 20px;
            }
            .image-upload-box {
              .image-main {
                .cover-box {
                  width: 150px;
                  height: 150px;
                  .browse {
                    .icon {
                      font-size: 35px;
                    }
                    p {
                      font-size: 16px;
                    }
                  }
                }
              }
            }
            form {
              .field {
                height: 65px;
                font-size: 18px;
                &::placeholder {
                  font-size: 17px;
                }
                &.arrow {
                  background-size: 45px 15px;
                }
              }
              .text-field {
                height: 150px;
              }
            }
            .button {
              width: 240px;
              padding: 12px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1680px) {
  .profile-layout {
    .left-box {
      .setup-box {
        .title-box {
          .title {
            font-size: 27px;
          }
        }
        .listing {
          .item {
            .label {
              font-size: 18px;
            }
            .image-upload-box {
              .image-main {
                .cover-box {
                  width: 140px;
                  height: 140px;
                  .browse {
                    .icon {
                      font-size: 30px;
                    }
                    p {
                      font-size: 14px;
                    }
                  }
                }
              }
            }
            form {
              .field {
                height: 60px;
                font-size: 16px;
                &::placeholder {
                  font-size: 16px;
                }
              }
              .text-field {
                height: 140px;
              }
            }
            .button {
              width: 220px;
              padding: 10px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1600px) {
  .profile-layout {
    .left-box {
      .setup-box {
        .title-box {
          .title {
            font-size: 24px;
          }
        }
        .listing {
          .item {
            .label {
              font-size: 16px;
            }
            form {
              .field {
                height: 50px;
                font-size: 16px;
                &::placeholder {
                  font-size: 16px;
                }
                &.arrow {
                  background-size: 42px 14px;
                }
              }
              .text-field {
                height: 130px;
              }
            }
            .button {
              width: 220px;
              padding: 10px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1440px) {
  .profile-layout {
    .left-box {
      .setup-box {
        .listing {
          .item {
            .image-upload-box {
              .image-main {
                .cover-box {
                  width: 130px;
                  height: 130px;
                }
              }
            }
            form {
              .field {
                font-size: 14px;
                &::placeholder {
                  font-size: 14px;
                }
                &.arrow {
                  background-size: 40px 14px;
                }
              }
            }
            .button {
              width: 220px;
              padding: 8px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1366px) {
  .profile-layout {
    .left-box {
      .setup-box {
        .title-box {
          .title {
            font-size: 20px;
          }
        }
        .listing {
          .item {
            .label {
              font-size: 14px;
            }
            .image-upload-box {
              .image-main {
                .cover-box {
                  width: 120px;
                  height: 120px;
                }
              }
            }
            form {
              .field {
                font-size: 14px;
                height: 45px;
                &::placeholder {
                  font-size: 14px;
                }
                &.arrow {
                  background-size: 30px 11px;
                }
              }
              .text-field {
                height: 100px;
              }
            }
            .button {
              padding: 6px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .profile-layout {
    padding-right: 20px;
    .left-box {
      flex: 0 0 100%;
    }
    .right-box {
      display: none;
    }
  }
}
@media (max-width: 460px) {
  .profile-layout {
    padding: 10px 0;
    padding-right: 10px;
    .left-box {
      .setup-box {
        .title-box {
          padding: 10px 8px 15px;
          .title {
            font-size: 20px;
          }
        }
        .listing {
          margin: 0px 0;
          .item {
            .label {
              font-size: 14px;
            }
            .image-upload-box {
              .image-main {
                .cover-box {
                  width: 100px;
                  height: 100px;
                  .browse {
                    .main {
                      .icon {
                        font-size: 24px;
                      }
                      p {
                        font-size: 12px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
