@import "../../../../../assets/partials/variable.scss";
.popup-box {
  .popup-header {
    position: relative;
    .close-button {
      top: 0;
      right: 20px;
      line-height: 1;
      position: absolute;
      color: $theme-content;
      transform: translateY(-50%);
    }
  }
  .popup-body {
    height: 80%;
    overflow: overlay;
    padding-right: 15px;
    .search {
      display: flex;
      position: relative;
      align-items: center;
      .icon {
        top: 50%;
        left: 8px;
        position: absolute;
        color: $theme-primary;
        transform: translateY(-50%);
      }
      input {
        width: 100%;
        padding: 8px;
        font-size: 14px;
        text-align: left;
        padding-left: 35px;
        border-radius: 25px;
        color: $theme-content;
        background-color: $theme-bg-sidebar;
        &::placeholder {
          font-size: 14px;
          color: $theme-content;
        }
      }
    }
    .group-list {
      margin: 0;
      padding: 0;
      margin-top: 20px;
      list-style-type: none;
      .item {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        justify-content: space-between;
        .group-box {
          display: flex;
          cursor: pointer;
          align-items: center;
          .image-box {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            .image {
              width: 45px;
              height: 45px;
              border-radius: 50%;
            }
          }
          .title {
            margin: 0;
            font-size: 14px;
            font-weight: 700;
            padding-left: 10px;
            display: inline-block;
          }
        }
        .button {
          width: 120px;
          line-height: 1;
          font-size: 12px;
          font-weight: 700;
          position: relative;
          margin-right: 10px;
          border-radius: 25px;
          color: $theme-primary;
          padding: 10px 0px 10px 15px;
          background: $theme-bg-sidebar;
          .add-icon {
            position: absolute;
            top: 50%;
            left: 13px;
            transform: translateY(-50%);
          }
          &.request-send {
            color: $theme-white;
            padding: 10px 15px 10px 15px;
            background-color: $theme-primary;
          }
        }
      }
    }
  }
  .action-buttons {
    position: unset;
    .btn-save {
      width: 100%;
      padding: 8px 0;
      font-size: 14px;
      font-weight: 600;
      color: $theme-white;
      border-radius: 25px;
      background-color: $theme-primary;
    }
  }
}
