<div class="profile-layout">
  <div class="left-box">
    <div class="banner-profile">
      <img
        class="cover"
        src="../../../../assets/images/matrimonial/background.png"
      />
      <div class="profile-info">
        <div class="profile-image">
          <img
            class="image"
            src="../../../../assets/images/home/sidebar/profile-image.PNG"
          />
        </div>
        <div class="profile-detail">
          <h4 class="title">Kate Wilson</h4>
          <ul class="detail">
            <li class="item">
              <i class="fas fa-map-marker-alt icon"></i>
              Toronto, Canada
            </li>
            <li class="item">
              <i class="fa fa-envelope icon"></i>
              kwilson@gmail.com
            </li>
            <li class="item">
              <i class="fa fa-phone icon rotate"></i>
              000 0000 0000
            </li>
            <li class="item">
              <i class="fas fa-shapes icon"></i>
              Attorney, Doctor, Social Worker
            </li>
          </ul>
        </div>
      </div>
      <button class="button">Email</button>
    </div>

    <div class="content-box">
      <h4 class="title">Reason of becoming a volunteer</h4>
      <p class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cum,
        consequatur deleniti odio dicta fugit odit exercitationem voluptas,
        placeat, quos maiores architecto dolorem? Quidem doloribus ea, tempora
        quo eos sit! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Iure cum, consequatur deleniti odio dicta fugit odit exercitationem
        voluptas, placeat, quos maiores architecto dolorem? Quidem doloribus ea,
        tempora quo eos sit! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Iure cum, consequatur deleniti odio dicta fugit odit
        exercitationem voluptas, placeat, quos maiores architecto dolorem?
        Quidem doloribus ea, tempora quo eos sit! Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Iure cum, consequatur deleniti odio dicta
        fugit odit exercitationem voluptas, placeat, quos maiores architecto
        dolorem? Quidem doloribus ea, tempora quo eos sit! Quidem doloribus ea,
        tempora quo eos sit! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Iure cum, consequatur deleniti odio dicta fugit odit
        exercitationem voluptas, placeat, quos maiores architecto dolorem?
        Quidem doloribus ea, tempora quo eos sit! Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Iure cum, consequatur deleniti odio dicta
        fugit odit exercitationem voluptas, placeat, quos maiores architecto
        dolorem? Quidem doloribus ea, tempora quo eos sit!
      </p>
    </div>
  </div>
  <div class="right-box">
    <div class="right-box-inner">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title class="expansion-title"
              >Related Volunteers</mat-panel-title
            >
          </mat-expansion-panel-header>
          <div class="card-main-box">
            <div class="card-item">
              <div class="cards row gx-0">
                <div class="col-lg-3">
                  <img
                    class="avatar circle border"
                    src="../../../assets/images/home/sidebar/profile-image.PNG"
                  />
                </div>
                <div class="col-lg-9">
                  <p class="title">Kate Wilson</p>
                  <span class="content"
                    ><i class="fas fa-shapes icon"></i>Attorney, Doctor,
                    Social</span
                  >
                </div>
              </div>
            </div>
            <div class="card-item">
              <div class="cards row gx-0">
                <div class="col-lg-3">
                  <img
                    class="avatar circle border"
                    src="../../../assets/images/home/sidebar/profile-image.PNG"
                  />
                </div>
                <div class="col-lg-9">
                  <p class="title">Kate Wilson</p>
                  <span class="content"
                    ><i class="fas fa-shapes icon"></i>Attorney, Doctor,
                    Social</span
                  >
                </div>
              </div>
            </div>
            <div class="card-item">
              <div class="cards row gx-0">
                <div class="col-lg-3">
                  <img
                    class="avatar circle border"
                    src="../../../assets/images/home/sidebar/profile-image.PNG"
                  />
                </div>
                <div class="col-lg-9">
                  <p class="title">Kate Wilson</p>
                  <span class="content"
                    ><i class="fas fa-shapes icon"></i>Attorney, Doctor,
                    Social</span
                  >
                </div>
              </div>
            </div>
            <div class="card-item">
              <div class="cards row gx-0">
                <div class="col-lg-3">
                  <img
                    class="avatar circle border"
                    src="../../../assets/images/home/sidebar/profile-image.PNG"
                  />
                </div>
                <div class="col-lg-9">
                  <p class="title">Kate Wilson</p>
                  <span class="content"
                    ><i class="fas fa-shapes icon"></i>Attorney, Doctor,
                    Social</span
                  >
                </div>
              </div>
            </div>
            <div class="card-item">
              <div class="cards row gx-0">
                <div class="col-lg-3">
                  <img
                    class="avatar circle border"
                    src="../../../assets/images/home/sidebar/profile-image.PNG"
                  />
                </div>
                <div class="col-lg-9">
                  <p class="title">Kate Wilson</p>
                  <span class="content"
                    ><i class="fas fa-shapes icon"></i>Attorney, Doctor,
                    Social</span
                  >
                </div>
              </div>
            </div>
            <div class="card-item">
              <div class="cards row gx-0">
                <div class="col-lg-3">
                  <img
                    class="avatar circle border"
                    src="../../../assets/images/home/sidebar/profile-image.PNG"
                  />
                </div>
                <div class="col-lg-9">
                  <p class="title">Kate Wilson</p>
                  <span class="content"
                    ><i class="fas fa-shapes icon"></i>Attorney, Doctor,
                    Social</span
                  >
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title class="expansion-title"
              >Other Volunteers</mat-panel-title
            >
          </mat-expansion-panel-header>
          <div class="card-main-box">
            <div class="card-item">
              <div class="cards row gx-0">
                <div class="col-lg-3">
                  <img
                    class="avatar circle border"
                    src="../../../assets/images/home/sidebar/profile-image.PNG"
                  />
                </div>
                <div class="col-lg-9">
                  <p class="title">Kate Wilson</p>
                  <span class="content"
                    ><i class="fas fa-shapes icon"></i>Attorney, Doctor,
                    Social</span
                  >
                </div>
              </div>
            </div>
            <div class="card-item">
              <div class="cards row gx-0">
                <div class="col-lg-3">
                  <img
                    class="avatar circle border"
                    src="../../../assets/images/home/sidebar/profile-image.PNG"
                  />
                </div>
                <div class="col-lg-9">
                  <p class="title">Kate Wilson</p>
                  <span class="content"
                    ><i class="fas fa-shapes icon"></i>Attorney, Doctor,
                    Social</span
                  >
                </div>
              </div>
            </div>
            <div class="card-item">
              <div class="cards row gx-0">
                <div class="col-lg-3">
                  <img
                    class="avatar circle border"
                    src="../../../assets/images/home/sidebar/profile-image.PNG"
                  />
                </div>
                <div class="col-lg-9">
                  <p class="title">Kate Wilson</p>
                  <span class="content"
                    ><i class="fas fa-shapes icon"></i>Attorney, Doctor,
                    Social</span
                  >
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
