@import "../../../assets/partials/variable.scss";
.adview-layout {
  display: flex;
  padding: 20px 0;
  flex-flow: wrap;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $theme-white;
  .left-box {
    flex: 0 0 70%;
    .banner-profile {
      width: 100%;
      height: 250px;
      display: block;
      position: relative;
      margin-bottom: 20px;
      overflow: hidden;
      cursor: pointer;
      .cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        border-radius: 8px;
        object-position: top;
      }
      .tag-box {
        top: 23px;
        left: -38px;
        width: 150px;
        padding: 6px 0;
        position: absolute;
        text-align: center;
        transform: rotate(-45deg);
        background: linear-gradient(
          90deg,
          rgba(26, 181, 145, 1) 50%,
          rgba(31, 221, 124, 1) 80%
        );
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .tag {
          margin: 0;
          z-index: 99;
          font-size: 14px;
          font-weight: 300;
          color: $theme-white;
          .icon {
            padding-right: 3px;
            font-size: 8px;
          }
        }
        &.black-color {
          background: $theme-black;
        }
      }
      .button {
        position: absolute;
        top: 15px;
        right: 20px;
        .icon {
          background: $theme-white;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          color: $theme-content;
          font-size: 12px;
        }
      }
      .banner-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 20px 15px;
        position: absolute;
        bottom: 0;
        left: 0;
        .left-content {
          display: flex;
          align-items: center;
          width: 50%;
          .image-box {
            width: 40px;
            height: 40px;
            .image {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              border: 1px solid $theme-content;
            }
          }
          .creater-name {
            color: $theme-white;
            margin-bottom: 0;
            margin-left: 10px;
            width: 85%;
            line-height: 1.3;
            .date {
              font-size: 11px;
            }
            .name {
              font-size: 14px;
              padding: 0 3px;
            }
          }
        }
        .right-content {
          width: 50%;
          text-align: end;
          .contact-info {
            color: #fff;
            font-size: 14px;
            margin-right: 10px;
            .icon {
              padding-right: 10px;
              color: $theme-primary;
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
    .adview-content-main {
      margin: 0 25px;
      .adview-detail {
        .top-detail {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .title {
            text-transform: capitalize;
            font-weight: 800;
            margin-bottom: 0;
          }
          .name {
            margin-bottom: 0;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 500;
            span {
              color: $theme-primary;
              font-size: 25px;
              font-weight: 800;
            }
          }
        }
        .bottom-detail {
          padding: 5px 0 25px;
          border-bottom: 1px solid $theme-background-light;
          span {
            color: $theme-content;
            font-weight: 500;
            font-size: 14px;
            display: block;
            .icon {
              padding-right: 8px;
              color: $theme-primary;
            }
          }
        }
      }
      .adview-description {
        padding: 10px 0px 25px;
        border-bottom: 1px solid $theme-background-light;
        .content {
          font-size: 13px;
          color: $theme-content;
          margin-bottom: 3px;
        }
        .adview-list {
          margin: 0;
          padding: 10px 0 10px;
          list-style-type: none;
          .list-item {
            color: $theme-content;
            font-size: 13px;
            padding: 0;
            p {
              margin-bottom: 0;
            }
          }
        }
      }
      .contact-detail {
        padding: 20px 0;
        border-bottom: 1px solid $theme-background-light;
        span {
          color: $theme-content;
          font-weight: 500;
          font-size: 14px;
          display: block;
          .icon {
            padding-right: 8px;
            color: $theme-primary;
          }
        }
        .action-button {
          margin-top: 15px;
          .button {
            border: 1px solid $theme-primary;
            background: $theme-white;
            color: $theme-black;
            width: 23%;
            border-radius: 25px;
            padding: 8px 0;
            margin-right: 10px;
            font-size: 14px;
            font-weight: 300;
            line-height: 1;
            &.color-button {
              background: $theme-primary;
              color: $theme-white;
            }
          }
        }
      }
    }
    .advert-box {
      margin: 20px 0;
      .title {
        font-weight: 800;
        margin: 0 0 25px 30px;
        color: $theme-black;
      }
      .inner-box {
        background: $theme-bg-sidebar;
        padding: 10px 25px 10px 15px;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        border: 1px solid $theme-light-border;
        margin-bottom: 10px;
        cursor: pointer;
        .tag-box {
          top: 13px;
          left: -38px;
          width: 120px;
          padding: 6px 0;
          position: absolute;
          text-align: center;
          transform: rotate(-45deg);
          background: linear-gradient(
            90deg,
            rgba(26, 181, 145, 1) 50%,
            rgba(31, 221, 124, 1) 80%
          );
          height: 28px;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          .tag {
            margin: 0;
            z-index: 99;
            font-size: 11px;
            font-weight: 700;
            color: $theme-white;
            .icon {
              padding-right: 3px;
              font-size: 8px;
            }
          }
          &.black-color {
            background: $theme-black;
          }
        }
        .image-box {
          width: 90%;
          height: 100px;
          .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
          }
        }
        .content-box {
          position: relative;
          .name {
            font-size: 12px;
            font-weight: 500;
            color: $theme-primary;
            margin-bottom: 5px;
          }
          .title {
            margin-bottom: 0;
            font-size: 17px;
            font-weight: 700;
            color: $theme-black;
            line-height: 1.3;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: 0px;
            padding-right: 55px;
          }
          .address {
            font-size: 12px;
            font-weight: 500;
            display: block;
            line-height: 1.3;
            color: $theme-content;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin: 3px 0 5px;
            padding-right: 55px;
          }
          .price {
            margin-bottom: 0;
            text-align: end;
            color: $theme-primary;
            display: flex;
            font-size: 20px;
            align-items: flex-start;
            line-height: 1;
            justify-content: flex-end;
            font-weight: 600;
            span {
              color: $theme-black;
              font-size: 13px;
              text-transform: uppercase;
            }
          }
          .button {
            position: absolute;
            top: 5px;
            right: 0;
            line-height: 1;
            .icon {
              color: $theme-content;
              font-size: 13px;
            }
          }
        }
        &:nth-child(odd) {
          background: $theme-white;
        }
      }
    }
  }
  .right-box {
    flex: 0 0 30%;
    padding: 0px 20px;
    background-color: $theme-white;
    .right-box-inner {
      padding: 20px;
      border-radius: 8px;
      background-color: $theme-bg-sidebar;
      .search-box {
        .button {
          margin-bottom: 15px;
        }
      }
      .top-title {
        .title {
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 0;
        }
      }
      .card-main-box {
        .card-item {
          .cards {
            .location-box {
              iframe {
                width: 100%;
                height: 120px;
              }
              p {
                font-size: 12px;
                font-weight: 500;
              }
            }
            .guest-box {
              display: flex;
              align-items: center;
              width: 100%;
              .content {
                color: $theme-primary !important;
                font-size: 25px;
                line-height: 1.2;
                font-weight: 700;
                span {
                  color: $theme-black;
                  display: block;
                  font-size: 15px;
                }
                &:first-child {
                  padding-right: 50px;
                }
              }
            }
            .search-box {
              position: relative;
              width: 100%;
              margin-bottom: 15px;
              .feild {
                padding: 6px 20px 6px 35px;
                border-radius: 25px;
                width: 100%;
                font-size: 13px;
                background-color: $theme-bg-sidebar;
                line-height: 1;
                &::placeholder {
                  color: $theme-content;
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 1;
                }
              }
              .icon {
                position: absolute;
                left: 13px;
                top: 50%;
                transform: translateY(-50%);
                line-height: 1;
                color: $theme-primary;
                font-size: 14px;
              }
            }
            .invite-box {
              display: flex;
              align-items: center;
              width: 100%;
              margin-bottom: 15px;
              .friend-box {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .image-box {
                  position: relative;
                  img {
                    width: 35px;
                    height: 35px;
                    object-fit: cover;
                    border-radius: 50%;
                  }
                }
                .invite-title {
                  width: 80%;
                  padding-left: 2px;
                  position: relative;
                  .title {
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 1.3;
                    margin-bottom: 0;
                    position: relative;
                    color: $theme-black;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    .member {
                      font-size: 12px;
                      color: $theme-content;
                    }
                  }
                }
              }
              .invite-button {
                background-color: $theme-background-light;
                color: $theme-black;
                font-size: 12px;
                font-weight: 600;
                padding: 5px 9px;
                line-height: 1;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
}
