<div class="profile-layout">
  <div class="left-box">
    <div class="banner-profile">
      <img
        class="cover"
        src="../../../../assets/images/matrimonial/background.png"
      />
      <div class="profile-info">
        <div class="profile-image">
          <img
            class="image"
            src="../../../../assets/images/home/sidebar/profile-image.PNG"
          />
        </div>
        <div class="profile-detail">
          <h4 class="title">Kate Wilson</h4>
          <ul class="detail">
            <li class="item">
              <i class="fas fa-map-marker-alt icon"></i>
              Toronto, Canada
            </li>
            <li class="item">
              <i class="fa fa-envelope icon"></i>
              kwilson@gmail.com
            </li>
            <li class="item">
              <i class="fa fa-phone icon rotate"></i>
              000 0000 0000
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="section-nav">
      <li
        class="item"
        [routerLink]="['/matrimonial', 'profile-view', 'user-detail']"
        [routerLinkActive]="['active']"
      >
        Profile
      </li>
      <li
        class="item"
        [routerLink]="['/matrimonial', 'profile-view', 'partner-detail']"
        [routerLinkActive]="['active']"
      >
        Partner's Information
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
  <div class="right-box">
    <div class="right-box-inner">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>Kate's Profile Gallery</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-main-box">
            <div class="card-item">
              <div class="cards">
                <div class="gallery-image" (click)="profileImageDialog()">
                  <img
                    class="avatar edge"
                    src="../../../assets/images/photos/profile.jpg"
                  />
                </div>
                <div class="gallery-image" (click)="profileImageDialog()">
                  <img
                    class="avatar edge"
                    src="../../../assets/images/home/sidebar/profile-image.PNG"
                  />
                </div>
                <div class="gallery-image" (click)="profileImageDialog()">
                  <img
                    class="avatar edge"
                    src="../../../assets/images/home/sidebar/profile-image.PNG"
                  />
                </div>
                <div class="gallery-image" (click)="profileImageDialog()">
                  <img
                    class="avatar edge"
                    src="../../../assets/images/photos/profile.jpg"
                  />
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>About Kate</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-main-box">
            <div class="card-item">
              <p class="content">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Quibusdam recusandae adipisci eum consequuntur, exercitationem
                at, alias hic iste quisquam aliquid necessitatibus officia
                accusamus excepturi iure adipisci eum consequuntur,
                exercitationem at, alias hic iste quisquam aliquid
                necessitatibus officia accusamus excepturi iure placeat unde
                sequi temporibus nam!
              </p>
              <ul class="listing">
                <li class="item">Vegetarian</li>
                <li class="item">Dog person</li>
                <li class="item">Free ThinkerA</li>
              </ul>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
