<div class="public-layout">
  <div class="detial-box">
    <div class="title-box">
      <h4 class="title">Security & Privacy</h4>
    </div>
  </div>

  <ul class="listing">
    <li class="item">
      <span class="box-title">Profile</span>
      <form class="row">
        <div class="col-lg-6 col-6">
          <label>Who can post on your timeline?</label>
          <select class="field arrow">
            <option value="" selected disabled hidden></option>
            <option value="1">Friends</option>
            <option value="2">Everyone</option>
            <option value="3">Only me</option>
          </select>
        </div>
        <div class="col-lg-6 col-6">
          <label>Who can see what others post on your profile?</label>
          <select class="field arrow">
            <option value="" selected disabled hidden></option>
            <option value="1">Friends</option>
            <option value="2">Everyone</option>
            <option value="3">Only me</option>
          </select>
        </div>
      </form>
    </li>
    <li class="item">
      <span class="box-title">Public Posts</span>
      <form class="row">
        <div class="col-lg-6 col-6">
          <label>Who can follow me?</label>
          <select class="field arrow">
            <option value="" selected disabled hidden></option>
            <option value="1">Friends</option>
            <option value="2">Everyone</option>
          </select>
        </div>
        <div class="col-lg-6 col-6">
          <label>Who can comment on your public posts?</label>
          <select class="field arrow">
            <option value="" selected disabled hidden></option>
            <option value="1">Friends</option>
            <option value="2">Everyone</option>
          </select>
        </div>
      </form>
    </li>
    <li class="item">
      <span class="box-title">Your Activity</span>
      <form class="row">
        <div class="col-lg-6 col-6">
          <label>Who can see your posts?</label>
          <select class="field arrow">
            <option value="" selected disabled hidden></option>
            <option value="1">Friends</option>
            <option value="2">Everyone</option>
            <option value="3">Only me</option>
          </select>
        </div>
        <div class="col-lg-6 col-6">
          <label>Who can see people you follow?</label>
          <select class="field arrow">
            <option value="" selected disabled hidden></option>
            <option value="1">Friends</option>
            <option value="2">Everyone</option>
            <option value="3">Only me</option>
          </select>
        </div>
      </form>
    </li>
    <li class="item">
      <span class="box-title">How People can connect to me</span>
      <form class="row">
        <div class="col-lg-6 col-6">
          <label>Who can send you friend request?</label>
          <select class="field arrow">
            <option value="" selected disabled hidden></option>
            <option value="1">Friends of friends</option>
            <option value="2">Everyone</option>
          </select>
        </div>
        <div class="col-lg-6 col-6">
          <label>Who can see your friends list?</label>
          <select class="field arrow">
            <option value="" selected disabled hidden></option>
            <option value="1">Friends</option>
            <option value="2">Everyone</option>
            <option value="3">Only me</option>
          </select>
        </div>
        <div class="col-lg-6 col-6">
          <label>Who can message you?</label>
          <select class="field arrow">
            <option value="" selected disabled hidden></option>
            <option value="1">Everyone</option>
            <option value="2">Friends</option>
          </select>
        </div>
      </form>
    </li>
  </ul>
  <div class="action-buttons">
    <button class="button">Cancel</button>
    <button class="button">Save Changes</button>
  </div>
</div>
