<div class="group-layout">
  <div class="left-box">
    <app-navbar></app-navbar>
    <div class="title-box">
      <h4 class="title">Groups you manage</h4>
      <!-- <button class="button">View All</button> -->
    </div>
    <div class="discover-group-section">
      <!--  (click)="openGroup(item.id)" -->
      <div
        class="group-box"
        *ngFor="let item of myGroupList"
        [routerLink]="['/social/groups/admin', item.id, 'feed']"
      >
        <div class="group-cover">
          <ng-container *ngIf="item.coverPhoto !== ''; else elseCoverPhoto">
            <img class="image" [src]="item.coverPhoto" />
          </ng-container>
          <ng-template #elseCoverPhoto>
            <img
              class="image"
              src="../../../assets/images/groups/group-bg.jpg"
            />
          </ng-template>
        </div>
        <div class="group-info">
          <div class="group-image">
            <ng-container
              *ngIf="item.profilePhoto !== ''; else elseProfilePhoto"
            >
              <img class="image" [src]="item.profilePhoto" />
            </ng-container>
            <ng-template #elseProfilePhoto>
              <img
                class="image"
                src="../assets/images/home/sidebar/profile-image.PNG"
              />
            </ng-template>
          </div>
          <h4 class="title">{{ item.name }}</h4>
          <p class="group-status">
            {{ item.privacyType | uppercase }} Group({{
              item.groupFriendCount <= 9
                ? item.groupFriendCount
                : item.groupFriendCount - (item.groupFriendCount % 10)
            }}<span *ngIf="item.groupFriendCount > 9">+</span> member<span
              *ngIf="item.groupFriendCount > 1"
              >s</span
            >)
          </p>
        </div>
      </div>
      <div *ngIf="myGroupList.length <= 0">You have not created any group.</div>
    </div>
    <div class="title-box">
      <h4 class="title">Groups you're joined</h4>
      <!-- <button class="button">View All</button> -->
    </div>
    <div class="discover-group-section">
      <div
        class="group-box"
        *ngFor="let item of joinedGroups"
        [routerLink]="['/social/groups/admin', item.id, 'feed']"
      >
        <div class="group-cover">
          <ng-container *ngIf="item.coverPhoto !== ''; else elseCoverPhoto">
            <img class="image" [src]="item.coverPhoto" />
          </ng-container>
          <ng-template #elseCoverPhoto>
            <img
              class="image"
              src="../../../assets/images/groups/group-bg.jpg"
            />
          </ng-template>
        </div>
        <div class="group-info">
          <div class="group-image">
            <ng-container
              *ngIf="item.profilePhoto !== ''; else elseProfilePhoto"
            >
              <img class="image" [src]="item.profilePhoto" />
            </ng-container>
            <ng-template #elseProfilePhoto>
              <img
                class="image"
                src="../assets/images/home/sidebar/profile-image.PNG"
              />
            </ng-template>
          </div>
          <h4 class="title">{{ item.name }}</h4>
          <p class="group-status">
            {{ item.privacyType | uppercase }} Group({{
              item.groupFriendCount <= 9
                ? item.groupFriendCount
                : item.groupFriendCount - (item.groupFriendCount % 10)
            }}<span *ngIf="item.groupFriendCount > 9">+</span> member<span
              *ngIf="item.groupFriendCount > 1"
              >s</span
            >)
          </p>
          <button
            class="button button-warning"
            (click)="$event.stopPropagation()"
          >
            Leave Group
          </button>
        </div>
      </div>
      <div *ngIf="joinedGroups.length <= 0">You have not joined any group.</div>
    </div>
  </div>
  <div class="right-box">
    <app-sidebar></app-sidebar>
  </div>
</div>
