<div class="popup-box">
  <div class="popup-header">
    <h4 class="title">Terms & Conditions</h4>
  </div>
  <div class="popup-body">
    <span class="tips">
      Below are the terms and conditions you should accept when registering as a
      volunteer.
    </span>
    <ul class="listing">
      <li class="item">
        <button class="button button-success">
          <i class="fas fa-check icon"></i>
        </button>
        <span class="point">
          You acknowledge that your information, such as contact information and
          email address, will be posted on the Volunteers page.
        </span>
      </li>
      <li class="item">
        <button class="button button-success">
          <span></span>
        </button>
        <span class="point">
          You acknowledge that volunteering is not a profession, and you will
          not be compensated for the services you provide.
        </span>
      </li>
      <li class="item">
        <button class="button button-success">
          <span></span>
        </button>
        <span class="point">
          You can contribute 4 to 6 hours per week to the community to help your
          fellow members in any way related to your profession, such as if you
          are a lawyer and can help them find a suitable forum to seek legal
          help.
        </span>
      </li>
      <li class="item">
        <button class="button button-success">
          <span></span>
        </button>
        <span class="point">
          You acknowledge that the interview will be conducted through a video
          call service and Dil Hai Pakistani reserves the right to approve or
          reject your volunteer request.
        </span>
      </li>
      <li class="item">
        <button class="button button-success">
          <span></span>
        </button>
        <span class="point">
          You acknowledge that you are not engaged in and convicted of any
          criminal activity.
        </span>
      </li>
    </ul>
  </div>
  <div class="action-buttons">
    <div class="right-box">
      <button class="btn close" [mat-dialog-close]>Cancel</button>
      <button class="btn add" (click)="createProfileDialog()">Continue</button>
    </div>
  </div>
</div>
