<div class="public-layout">
  <div class="detial-box">
    <div class="title-box">
      <h4 class="title">Notifications</h4>
    </div>
  </div>

  <ul class="listing">
    <li class="item">
      <span class="box-title">Social Media</span>
      <div class="main-box">
        <h5 class="main-box-title">Comments</h5>
        <ul class="inner-list">
          <li class="item">
            <span class="content"
              >Notifications for comments on your posts and replies to your
              comments.</span
            >
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
        </ul>
      </div>
      <div class="main-box">
        <h5 class="main-box-title">Update from Friends</h5>
        <ul class="inner-list">
          <li class="item">
            <span class="content"
              >Notifications about your friends' activities, like when any
              friend upload or share a post or photo.</span
            >
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
        </ul>
      </div>
      <div class="main-box">
        <h5 class="main-box-title">Friend Requests</h5>
        <ul class="inner-list">
          <li class="item">
            <span class="content"
              >Notification alert when someone sends you a friend request or
              accepts your friend request.</span
            >
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
        </ul>
      </div>
      <div class="main-box">
        <h5 class="main-box-title">Birthdays</h5>
        <ul class="inner-list">
          <li class="item">
            <span class="content"
              >Notifications about upcoming birthdays of all your friends.</span
            >
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
        </ul>
      </div>
      <div class="main-box">
        <h5 class="main-box-title">Groups</h5>
        <ul class="inner-list">
          <li class="item">
            <span class="content"
              >Notifications about all activities including posts, likes,
              comments in Groups you've joined.</span
            >
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
          <li class="item">
            <span class="content"
              >Notifications of all activities including posts, likes, comments
              in Groups you're managing.</span
            >
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
        </ul>
      </div>
      <div class="main-box">
        <h5 class="main-box-title">Discover Friends</h5>
        <ul class="inner-list">
          <li class="item">
            <span class="content"
              >Notifications about people you may know or friend
              suggestions.</span
            >
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="item">
      <span class="box-title">Events</span>
      <div class="main-box">
        <h5 class="main-box-title">In Groups</h5>
        <ul class="inner-list">
          <li class="item">
            <span class="content"
              >Notify when any new event is created or shared in group you
              manage.</span
            >
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
          <li class="item">
            <span class="content"
              >Notify when any event is deleted in group you manage.</span
            >
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
          <li class="item">
            <span class="content"
              >Notify when any new event is created or shared in the group you
              joined.</span
            >
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
        </ul>
      </div>
      <div class="main-box">
        <h5 class="main-box-title">Events you created</h5>
        <ul class="inner-list">
          <li class="item">
            <span class="content"
              >Notify when any person select interested or buy pass of event you
              created.</span
            >
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
          <li class="item">
            <span class="content"
              >Notify when any person shares your created event.
            </span>
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="item">
      <span class="box-title">Classified Ads</span>
      <div class="main-box">
        <ul class="inner-list">
          <li class="item">
            <span class="content"
              >Notify when any person shares your created ad.</span
            >
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
          <li class="item">
            <span class="content"
              >Notify when any person contacts you through your posted ad.</span
            >
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="item">
      <span class="box-title">Jobs</span>
      <div class="main-box">
        <ul class="inner-list">
          <li class="item">
            <span class="content"
              >Notify when any person shares your created ad.</span
            >
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="item">
      <span class="box-title">Polling</span>
      <div class="main-box">
        <ul class="inner-list">
          <li class="item">
            <span class="content"
              >Notify when any person shares your created poll.</span
            >
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
          <li class="item">
            <span class="content"
              >Notify when admin accepts your created poll request.</span
            >
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
          <li class="item">
            <span class="content">Notify when your created poll ends.</span>
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="item">
      <span class="box-title">Donation</span>
      <div class="main-box">
        <ul class="inner-list">
          <li class="item">
            <span class="content"
              >Notify when any person shares your created campaign.</span
            >
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
          <li class="item">
            <span class="content"
              >Notify when any person donated in campaign created by you.</span
            >
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="item">
      <span class="box-title">Matrimonial</span>
      <div class="main-box">
        <ul class="inner-list">
          <li class="item">
            <span class="content"
              >Notify when any person shares your profile.
            </span>
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="item">
      <span class="box-title">Volunteer</span>
      <div class="main-box">
        <ul class="inner-list">
          <li class="item">
            <span class="content"
              >Notify when any person shares your profile.
            </span>
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider"></span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="action-buttons">
    <button class="button">Cancel</button>
    <button class="button">Save Changes</button>
  </div>
</div>
