<div class="activity-box">
  <div class="activity-info">
    <img
      class="avatar"
      src="../../../assets/images/profile/profile-cover.jpg"
    />
    <div class="title-status">
      <h4 class="title">Sarah Cruise</h4>
      <span class="status"
        >Started a poll related to <span class="primary">(Politics)</span>
      </span>
      <span class="post-time"
        ><span class="polling-status secondary"
          >(Pending for approval)</span
        ></span
      >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolores
        odio aspernatur quisquam laudant animi, voluptatibus.
      </p>
    </div>
    <button class="settings">
      <i class="fa fa-ellipsis-h icon"></i>
    </button>
  </div>
  <div class="activity-image-box">
    <div class="icon-box">
      <div class="like">
        <i class="fa fa-thumbs-o-up icon"></i>
        <span>97</span>
      </div>
      <div class="comment">
        <i class="fa fa-commenting-o icon"></i>
        <span>15</span>
      </div>
    </div>

    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">
        Option 1
        <span class="percentage">0%</span>
        <span class="line-indication"></span>
      </mat-radio-button>
      <mat-radio-button value="2">
        Option 2
        <span class="percentage">0%</span>
        <span class="line-indication"></span>
      </mat-radio-button>
      <mat-radio-button value="3">
        Option 3
        <span class="percentage">0%</span>
        <span class="line-indication"></span>
      </mat-radio-button>
      <mat-radio-button value="4">
        Option 4
        <span class="percentage">0%</span>
        <span class="line-indication"></span>
      </mat-radio-button>
    </mat-radio-group>

    <ul class="activity-bottom-menu">
      <li class="menu-item">
        <i class="fa fa-thumbs-o-up icon"></i>
        <span>Like</span>
      </li>
      <li class="menu-item">
        <i class="fa fa-commenting-o icon"></i>
        <span>Comment</span>
      </li>
      <li class="menu-item">
        <app-share-popup></app-share-popup>
      </li>
    </ul>
  </div>
</div>
<div class="activity-box">
  <div class="activity-info">
    <img
      class="avatar"
      src="../../../assets/images/profile/profile-cover.jpg"
    />
    <div class="title-status">
      <h4 class="title">Sarah Cruise</h4>
      <span class="status"
        >Started a poll related to <span class="primary">(Movies)</span>
      </span>
      <span class="post-time"
        ><span class="polling-status">Ended</span> 5 hours ago</span
      >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolores
        odio aspernatur quisquam laudant animi, voluptatibus.
      </p>
    </div>
    <button class="settings">
      <i class="fa fa-ellipsis-h icon"></i>
    </button>
  </div>
  <div class="activity-image-box">
    <div class="icon-box">
      <div class="like">
        <i class="fa fa-thumbs-o-up icon"></i>
        <span>97</span>
      </div>
      <div class="comment">
        <i class="fa fa-commenting-o icon"></i>
        <span>15</span>
      </div>
    </div>

    <ul class="polling-result">
      <li class="item">
        <span class="title">Option 2</span>
        <span class="percentage">60%</span>
        <span class="line-indication w-60"></span>
      </li>
      <li class="item">
        <span class="title">Option 3</span>
        <span class="percentage">20%</span>
        <span class="line-indication w-20"></span>
      </li>
      <li class="item">
        <span class="title">Option 1</span>
        <span class="percentage">15%</span>
        <span class="line-indication w-15"></span>
      </li>
      <li class="item">
        <span class="title">Option 4</span>
        <span class="percentage">5%</span>
        <span class="line-indication w-5"></span>
      </li>
    </ul>

    <ul class="activity-bottom-menu">
      <li class="menu-item">
        <i class="fa fa-thumbs-o-up icon"></i>
        <span>Like</span>
      </li>
      <li class="menu-item">
        <i class="fa fa-commenting-o icon"></i>
        <span>Comment</span>
      </li>
      <li class="menu-item">
        <app-share-popup></app-share-popup>
      </li>
    </ul>
  </div>
</div>
