<div class="home-layout">
  <div class="left-box">
    <app-header></app-header>
    <div class="event-box">
      <div class="inner-box">
        <div class="event-cover" [routerLink]="['/event', 'view']">
          <img
            class="image"
            src="../../../assets/images/event/home/event-image.jpg"
          />
          <div class="tag-box black-color">
            <h2 class="tag">FREE</h2>
          </div>
        </div>
        <div class="event-info">
          <div class="heading">
            <div class="head-inner">
              <p>jan<span>25</span></p>
              <h4 class="title" [routerLink]="['/event', 'view']">
                auto showcase
              </h4>
            </div>
            <p class="event-content">Lorem ipsum dolor sit, amet</p>
          </div>
          <i
            class="fa fa-ellipsis-h icon"
            mat-icon-button
            [matMenuTriggerFor]="eventAction"
          ></i>
          <mat-menu #eventAction>
            <button mat-menu-item>
              <p class="popup-title">
                <span>Hide</span>
              </p>
            </button>
            <button mat-menu-item>
              <p class="popup-title">
                <span>Report</span>
              </p>
            </button>
          </mat-menu>
        </div>
        <div class="action-button">
          <button><app-share-popup></app-share-popup></button>
        </div>
      </div>
      <div class="inner-box">
        <div class="event-cover" [routerLink]="['/event', 'view']">
          <img
            class="image"
            src="../../../assets/images/event/home/event-image.jpg"
          />
          <div class="tag-box">
            <h2 class="tag"><i class="fas fa-crown icon"></i>PREMIUM</h2>
          </div>
        </div>
        <div class="event-info">
          <div class="heading">
            <div class="head-inner">
              <p>jan<span>25</span></p>
              <h4 class="title" [routerLink]="['/event', 'view']">
                auto showcase
              </h4>
            </div>
            <p class="event-content">Lorem ipsum dolor sit, amet</p>
          </div>
          <i
            class="fa fa-ellipsis-h icon"
            mat-icon-button
            [matMenuTriggerFor]="eventAction"
          ></i>
          <mat-menu #eventAction>
            <button mat-menu-item>
              <p class="popup-title">
                <span>Hide</span>
              </p>
            </button>
            <button mat-menu-item>
              <p class="popup-title">
                <span>Report</span>
              </p>
            </button>
          </mat-menu>
        </div>
        <div class="action-button">
          <button><app-share-popup></app-share-popup></button>
        </div>
      </div>
      <div class="inner-box">
        <div class="event-cover" [routerLink]="['/event', 'view']">
          <img
            class="image"
            src="../../../assets/images/event/home/event-image.jpg"
          />
          <div class="tag-box black-color">
            <h2 class="tag">FREE</h2>
          </div>
        </div>
        <div class="event-info">
          <div class="heading">
            <div class="head-inner">
              <p>jan<span>25</span></p>
              <h4 class="title" [routerLink]="['/event', 'view']">
                auto showcase
              </h4>
            </div>
            <p class="event-content">Lorem ipsum dolor sit, amet</p>
          </div>
          <i
            class="fa fa-ellipsis-h icon"
            mat-icon-button
            [matMenuTriggerFor]="eventAction"
          ></i>
          <mat-menu #eventAction>
            <button mat-menu-item>
              <p class="popup-title">
                <span>Hide</span>
              </p>
            </button>
            <button mat-menu-item>
              <p class="popup-title">
                <span>Report</span>
              </p>
            </button>
          </mat-menu>
        </div>
        <div class="action-button">
          <button><app-share-popup></app-share-popup></button>
        </div>
      </div>
      <div class="inner-box">
        <div class="event-cover" [routerLink]="['/event', 'view']">
          <img
            class="image"
            src="../../../assets/images/event/home/event-image.jpg"
          />
          <div class="tag-box black-color">
            <h2 class="tag">FREE</h2>
          </div>
        </div>
        <div class="event-info">
          <div class="heading">
            <div class="head-inner">
              <p>jan<span>25</span></p>
              <h4 class="title" [routerLink]="['/event', 'view']">
                auto showcase
              </h4>
            </div>
            <p class="event-content">Lorem ipsum dolor sit, amet</p>
          </div>
          <i
            class="fa fa-ellipsis-h icon"
            mat-icon-button
            [matMenuTriggerFor]="eventAction"
          ></i>
          <mat-menu #eventAction>
            <button mat-menu-item>
              <p class="popup-title">
                <span>Hide</span>
              </p>
            </button>
            <button mat-menu-item>
              <p class="popup-title">
                <span>Report</span>
              </p>
            </button>
          </mat-menu>
        </div>
        <div class="action-button">
          <button><app-share-popup></app-share-popup></button>
        </div>
      </div>
      <div class="inner-box">
        <div class="event-cover" [routerLink]="['/event', 'view']">
          <img
            class="image"
            src="../../../assets/images/event/home/event-image.jpg"
          />
          <div class="tag-box black-color">
            <h2 class="tag">FREE</h2>
          </div>
        </div>
        <div class="event-info">
          <div class="heading">
            <div class="head-inner">
              <p>jan<span>25</span></p>
              <h4 class="title" [routerLink]="['/event', 'view']">
                auto showcase
              </h4>
            </div>
            <p class="event-content">Lorem ipsum dolor sit, amet</p>
          </div>
          <i
            class="fa fa-ellipsis-h icon"
            mat-icon-button
            [matMenuTriggerFor]="eventAction"
          ></i>
          <mat-menu #eventAction>
            <button mat-menu-item>
              <p class="popup-title">
                <span>Hide</span>
              </p>
            </button>
            <button mat-menu-item>
              <p class="popup-title">
                <span>Report</span>
              </p>
            </button>
          </mat-menu>
        </div>
        <div class="action-button">
          <button><app-share-popup></app-share-popup></button>
        </div>
      </div>
      <div class="inner-box">
        <div class="event-cover" [routerLink]="['/event', 'view']">
          <img
            class="image"
            src="../../../assets/images/event/home/event-image.jpg"
          />
          <div class="tag-box black-color">
            <h2 class="tag">FREE</h2>
          </div>
        </div>
        <div class="event-info">
          <div class="heading">
            <div class="head-inner">
              <p>jan<span>25</span></p>
              <h4 class="title" [routerLink]="['/event', 'view']">
                auto showcase
              </h4>
            </div>
            <p class="event-content">Lorem ipsum dolor sit, amet</p>
          </div>
          <i
            class="fa fa-ellipsis-h icon"
            mat-icon-button
            [matMenuTriggerFor]="eventAction"
          ></i>
          <mat-menu #eventAction>
            <button mat-menu-item>
              <p class="popup-title">
                <span>Hide</span>
              </p>
            </button>
            <button mat-menu-item>
              <p class="popup-title">
                <span>Report</span>
              </p>
            </button>
          </mat-menu>
        </div>
        <div class="action-button">
          <button><app-share-popup></app-share-popup></button>
        </div>
      </div>
    </div>
  </div>
  <div class="right-box">
    <div class="right-box-inner">
      <app-right-bar></app-right-bar>
    </div>
  </div>
</div>
