<div class="my-ads-layout">
  <div class="left-box">
    <app-classified-header></app-classified-header>
    <div class="advert-box">
      <div class="inner-box">
        <div class="row gx-0">
          <div class="col-lg-3">
            <div class="image-box" [routerLink]="['../ad-view']">
              <img
                src="../../../assets/images/groups/profile.jpg"
                class="image"
                alt=""
              />
            </div>
          </div>
          <div class="col-lg-9">
            <div class="content-box">
              <p class="name">Restaurant</p>
              <h5 class="title" [routerLink]="['../ad-view']">
                Burgers & Drinks (Midnight deals)
              </h5>
              <span class="address" [routerLink]="['../ad-view']"
                >4234 Chardonny Drive Fl, USA (5 miles aways)</span
              >
              <p class="price">$75<span>usd</span></p>
              <span class="active-btn primary">Active</span>
              <button
                class="button"
                mat-icon-button
                [matMenuTriggerFor]="share"
              >
                <i class="fa fa-ellipsis-h icon"></i>
              </button>
              <mat-menu #share>
                <button mat-menu-item>
                  <p class="popup-title">
                    <span>Edit</span>
                  </p>
                </button>
                <button mat-menu-item>
                  <p class="popup-title">
                    <span class="warning">End Early</span>
                  </p>
                </button>
                <button mat-menu-item (click)="timelineShareDialog()">
                  <p class="popup-title">
                    <span>Share on timeline</span>
                  </p>
                </button>
                <button mat-menu-item (click)="sharePostDialog()">
                  <p class="popup-title">
                    <span>Share in a group</span>
                  </p>
                </button>
                <p class="sub-title-menu">Share via</p>
                <ul class="social-platform pl-25">
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="fab fa-facebook-f icon"></i>
                  </li>
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="fab fa-twitter icon"></i>
                  </li>
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="fab fa-instagram icon"></i>
                  </li>
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="fab fa-whatsapp icon"></i>
                  </li>
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="far fa-envelope icon"></i>
                  </li>
                </ul>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
      <div class="inner-box">
        <div class="row gx-0">
          <div class="col-lg-3">
            <div class="image-box" [routerLink]="['../ad-view']">
              <img
                src="../../../assets/images/groups/profile.jpg"
                class="image"
                alt=""
              />
            </div>
          </div>
          <div class="col-lg-9">
            <div class="content-box">
              <p class="name">Restaurant</p>
              <h5 class="title" [routerLink]="['../ad-view']">
                Lorem Ipsum (Deals)
              </h5>
              <span class="address" [routerLink]="['../ad-view']"
                >4234 Chardonny Drive Fl, USA (5 miles aways)</span
              >
              <p class="price">$75<span>usd</span></p>
              <span class="active-btn heart">Ended</span>
              <button
                class="button"
                mat-icon-button
                [matMenuTriggerFor]="Share"
              >
                <i class="fa fa-ellipsis-h icon"></i>
              </button>
              <mat-menu #Share>
                <button mat-menu-item>
                  <p class="popup-title">
                    <span>Edit</span>
                  </p>
                </button>
                <button mat-menu-item>
                  <p class="popup-title">
                    <span class="warning">Remove</span>
                  </p>
                </button>
                <button mat-menu-item (click)="timelineShareDialog()">
                  <p class="popup-title">
                    <span>Share on timeline</span>
                  </p>
                </button>
                <button mat-menu-item (click)="sharePostDialog()">
                  <p class="popup-title">
                    <span>Share in a group</span>
                  </p>
                </button>
                <p class="sub-title-menu">Share via</p>
                <ul class="social-platform pl-25">
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="fab fa-facebook-f icon"></i>
                  </li>
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="fab fa-twitter icon"></i>
                  </li>
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="fab fa-instagram icon"></i>
                  </li>
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="fab fa-whatsapp icon"></i>
                  </li>
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="far fa-envelope icon"></i>
                  </li>
                </ul>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
      <div class="inner-box">
        <div class="tag-box">
          <h2 class="tag"><i class="fas fa-crown icon"></i>Featured</h2>
        </div>
        <div class="row gx-0">
          <div class="col-lg-3">
            <div class="image-box" [routerLink]="['../ad-view']">
              <img
                src="../../../assets/images/groups/profile.jpg"
                class="image"
                alt=""
              />
            </div>
          </div>
          <div class="col-lg-9">
            <div class="content-box">
              <p class="name">Restaurant</p>
              <h5 class="title" [routerLink]="['../ad-view']">lorem Ipsum</h5>
              <span class="address" [routerLink]="['../ad-view']"
                >4234 Chardonny Drive Fl, USA (5 miles aways)</span
              >
              <p class="price">$75<span>usd</span></p>
              <span class="active-btn heart">Ended</span>
              <button
                class="button"
                mat-icon-button
                [matMenuTriggerFor]="Share"
              >
                <i class="fa fa-ellipsis-h icon"></i>
              </button>
              <mat-menu #Share>
                <button mat-menu-item>
                  <p class="popup-title">
                    <span>Edit</span>
                  </p>
                </button>
                <button mat-menu-item>
                  <p class="popup-title">
                    <span class="warning">Remove</span>
                  </p>
                </button>
                <button mat-menu-item (click)="timelineShareDialog()">
                  <p class="popup-title">
                    <span>Share on timeline</span>
                  </p>
                </button>
                <button mat-menu-item (click)="sharePostDialog()">
                  <p class="popup-title">
                    <span>Share in a group</span>
                  </p>
                </button>
                <p class="sub-title-menu">Share via</p>
                <ul class="social-platform pl-25">
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="fab fa-facebook-f icon"></i>
                  </li>
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="fab fa-twitter icon"></i>
                  </li>
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="fab fa-instagram icon"></i>
                  </li>
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="fab fa-whatsapp icon"></i>
                  </li>
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="far fa-envelope icon"></i>
                  </li>
                </ul>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
      <div class="inner-box">
        <div class="row gx-0">
          <div class="col-lg-3">
            <div class="image-box" [routerLink]="['../ad-view']">
              <img
                src="../../../assets/images/groups/profile.jpg"
                class="image"
                alt=""
              />
            </div>
          </div>
          <div class="col-lg-9">
            <div class="content-box">
              <p class="name">Restaurant</p>
              <h5 class="title" [routerLink]="['../ad-view']">lorem Ipsum</h5>
              <span class="address" [routerLink]="['../ad-view']"
                >4234 Chardonny Drive Fl, USA (5 miles aways)</span
              >
              <p class="price">$75<span>usd</span></p>
              <span class="active-btn heart">Ended</span>
              <button
                class="button"
                mat-icon-button
                [matMenuTriggerFor]="Share"
              >
                <i class="fa fa-ellipsis-h icon"></i>
              </button>
              <mat-menu #Share>
                <button mat-menu-item>
                  <p class="popup-title">
                    <span>Edit</span>
                  </p>
                </button>
                <button mat-menu-item>
                  <p class="popup-title">
                    <span class="warning">Remove</span>
                  </p>
                </button>
                <button mat-menu-item (click)="timelineShareDialog()">
                  <p class="popup-title">
                    <span>Share on timeline</span>
                  </p>
                </button>
                <button mat-menu-item (click)="sharePostDialog()">
                  <p class="popup-title">
                    <span>Share in a group</span>
                  </p>
                </button>
                <p class="sub-title-menu">Share via</p>
                <ul class="social-platform pl-25">
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="fab fa-facebook-f icon"></i>
                  </li>
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="fab fa-twitter icon"></i>
                  </li>
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="fab fa-instagram icon"></i>
                  </li>
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="fab fa-whatsapp icon"></i>
                  </li>
                  <li
                    class="item"
                    mat-menu-item
                    (click)="$event.stopPropagation()"
                  >
                    <i class="far fa-envelope icon"></i>
                  </li>
                </ul>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-box">
    <div class="right-box-inner">
      <div class="card-main-box">
        <div class="card-item">
          <div class="cards c-auto">
            <ul class="packeg-detail">
              <li class="list">
                <span class="content">Feartured Ads</span>
                <span class="number">01</span>
              </li>
              <li class="list">
                <span class="content">Regular Ads</span>
                <span class="number">03</span>
              </li>
              <li class="list">
                <span class="content">Current Pkg</span>
                <span class="number">Pkg 04</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="search-box">
        <button class="button" (click)="createAdDialog()">
          <i class="fas fa-pencil-alt icon"></i>Post an AD
        </button>
        <div class="search">
          <i class="fa fa-search icon"></i>
          <input type="text" class="feild" placeholder="Search" />
        </div>
      </div>

      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>Adverts</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-main-box">
            <div class="card-item">
              <div class="cards">
                <ul class="category">
                  <li class="list">
                    <form>
                      <mat-radio-group>
                        <p class="title">Featured only</p>
                        <mat-radio-button value="1"></mat-radio-button>
                        <p class="title">All adverts</p>
                        <mat-radio-button value="2"></mat-radio-button>
                      </mat-radio-group>
                    </form>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
