<div class="donor-wall-layout">
  <div class="left-box">
    <app-header></app-header>
    <h4 class="title-main">Top Donors</h4>
    <div class="donor-wall-box">
      <div class="head">
        <p class="name">Name</p>
        <p class="amount-name">Donated Amount</p>
        <p class="donation-name">Total Donations</p>
      </div>
      <div class="donor-wall-detail">
        <div class="description">
          <div class="image-box">
            <img
              class="image"
              src="../../../assets/images/donation/home/group-profile.jpg"
            />
          </div>
          <div class="detail">
            <h6 class="title">Anika Schuster</h6>
          </div>
        </div>
        <div class="amount">
          <span>$100,000</span>
        </div>
        <div class="donation">
          <p class="delivery">200</p>
        </div>
      </div>
      <div class="donor-wall-detail">
        <div class="description">
          <div class="image-box">
            <img
              class="image"
              src="../../../assets/images/donation/home/group-profile.jpg"
            />
          </div>
          <div class="detail">
            <h6 class="title">Anika Schuster</h6>
          </div>
        </div>
        <div class="amount">
          <span>$100,000</span>
        </div>
        <div class="donation">
          <p class="delivery">200</p>
        </div>
      </div>
      <div class="donor-wall-detail">
        <div class="description">
          <div class="image-box">
            <img
              class="image"
              src="../../../assets/images/donation/home/group-profile.jpg"
            />
          </div>
          <div class="detail">
            <h6 class="title">Anika Schuster</h6>
          </div>
        </div>
        <div class="amount">
          <span>$100,000</span>
        </div>
        <div class="donation">
          <p class="delivery">200</p>
        </div>
      </div>
    </div>
  </div>
  <app-right-bar></app-right-bar>
</div>
