<div class="popup-box">
  <div class="popup-header">
    <h4 class="title">Edit Profile Photo</h4>
    <button class="close-button" mat-dialog-close>
      <i class="fa fa-close"></i>
    </button>
  </div>
  <div class="popup-body">
    <div class="image-upload-box">
      <figure class="profile-box">
        <img
          class="profile-photo"
          src="../../../../../assets/images/photos/profile.jpg"
        />
        <div class="browse" #image>
          <input class="upload-field" type="file" id="file" accept="image/*" />
          <label for="file" class="fa fa-camera icon"></label>
        </div>
      </figure>
    </div>
    <div class="image-gallery">
      <h5 class="title">Select from photos</h5>
      <div class="image-box">
        <img
          src="../../../../../assets/images/photos/profile.jpg"
          alt=""
          class="image"
        />
      </div>
      <div class="image-box">
        <img
          src="../../../../../assets/images/photos/profile.jpg"
          alt=""
          class="image"
        />
      </div>
      <div class="image-box">
        <img
          src="../../../../../assets/images/photos/profile.jpg"
          alt=""
          class="image"
        />
      </div>
      <div class="image-box">
        <img
          src="../../../../../assets/images/photos/profile.jpg"
          alt=""
          class="image"
        />
      </div>
      <div class="image-box">
        <img
          src="../../../../../assets/images/photos/profile.jpg"
          alt=""
          class="image"
        />
      </div>
    </div>
  </div>
  <div class="action-buttons">
    <button class="btn-save">Save Changes</button>
  </div>
</div>
