<div class="popup-box">
  <div class="popup-header">
    <h4 class="title">
      <ng-container *ngIf="isNew; else elseTemplate"> Add </ng-container>
      <ng-template #elseTemplate> Update </ng-template>
      High School
    </h4>
  </div>
  <div class="popup-body">
    <input
      class="field"
      type="text"
      placeholder="High School name"
      [(ngModel)]="name"
    />
    <div class="field-container">
      <select class="field arrow" [(ngModel)]="fromDate">
        <option *ngFor="let item of yearList" [value]="item" [label]="item">
          Year
        </option>
      </select>
    </div>
  </div>
  <div class="action-buttons">
    <div class="right-box">
      <button class="btn close" [mat-dialog-close]>Cancel</button>
      <button class="btn add" (click)="add()">Add</button>
    </div>
  </div>
</div>
