<div class="campaign-layout">
  <div class="left-box">
    <app-header></app-header>
    <div class="chart-box">
      <div class="total-campaign">
        <p class="content">Total Campaign Donated In</p>
        <h3 class="number">1,956</h3>
      </div>
      <div class="total-campaign">
        <p class="content">Total Amount Donated</p>
        <h3 class="number">$1,000,000,00</h3>
      </div>
    </div>
    <div class="campaign-main">
      <h6 class="title-main">My Donations</h6>
      <div class="head">
        <p class="name">Campaign</p>
        <p class="amount">Donations</p>
        <p class="date">Start Date</p>
      </div>
      <div class="campaign-detail-main">
        <div class="campaign-detail">
          <div class="campaign-description">
            <div class="image-box">
              <img
                class="image"
                src="../../../assets/images/donation/home/group-profile.jpg"
              />
            </div>
            <div class="detail">
              <h6 class="title">Red Panda Habitat Project</h6>
            </div>
          </div>
          <div class="donation-description">
            <p>$100,000,00</p>
          </div>
          <div class="date">
            <p class="content">Nov 24, 2020</p>
          </div>
        </div>
      </div>
      <div class="campaign-detail-main">
        <div class="campaign-detail">
          <div class="campaign-description">
            <div class="image-box">
              <img
                class="image"
                src="../../../assets/images/donation/home/group-profile.jpg"
              />
            </div>
            <div class="detail">
              <h6 class="title">Red Panda Habitat Project</h6>
            </div>
          </div>
          <div class="donation-description">
            <p>$100,000,00</p>
          </div>
          <div class="date">
            <p class="content">Nov 24, 2020</p>
          </div>
        </div>
      </div>
      <div class="campaign-detail-main">
        <div class="campaign-detail">
          <div class="campaign-description">
            <div class="image-box">
              <img
                class="image"
                src="../../../assets/images/donation/home/group-profile.jpg"
              />
            </div>
            <div class="detail">
              <h6 class="title">Red Panda Habitat Project</h6>
            </div>
          </div>
          <div class="donation-description">
            <p>$100,000,00</p>
          </div>
          <div class="date">
            <p class="content">Nov 24, 2020</p>
          </div>
        </div>
      </div>
      <div class="campaign-detail-main">
        <div class="campaign-detail">
          <div class="campaign-description">
            <div class="image-box">
              <img
                class="image"
                src="../../../assets/images/donation/home/group-profile.jpg"
              />
            </div>
            <div class="detail">
              <h6 class="title">Red Panda Habitat Project</h6>
            </div>
          </div>
          <div class="donation-description">
            <p>$100,000,00</p>
          </div>
          <div class="date">
            <p class="content">Nov 24, 2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-right-bar></app-right-bar>
</div>
