<div class="checkout-layout">
  <div class="left-box">
    <div class="main-title">
      <h4>Checkout</h4>
    </div>
    <div class="checkout-box">
      <div class="inner-box">
        <div class="item-check">
          <h6 class="title">Items ({{ selectedProductList.length }})</h6>
        </div>
        <div class="product-head">
          <div class="product">Product Name & ID</div>
          <div class="color">Color</div>
          <div class="quantity">Quantity</div>
          <div class="price">Price</div>
        </div>
        <div class="product-detail" *ngIf="shopType == 1">
          <div
            class="product-body"
            *ngFor="let item of selectedProductList; let i = index"
          >
            <div class="left-detail">
              <div class="product-name-body">
                <div class="image-box">
                  <img
                    class="image"
                    src="../../../../assets/images/shop/retail/order/order-1.jpg"
                  />
                </div>
                <div class="product-title">
                  <p class="title">{{ item.productName }}</p>
                  <!-- <p class="order-number">
                    Order ID: <span>000000000000000</span>
                  </p> -->
                </div>
              </div>
            </div>
            <div class="right-detail">
              <div class="color-body">
                <div class="color-inner">
                  <!-- <img
                    class="image"
                    src="../../../assets/images/shop/home/seller.png"
                  /> -->
                  <p class="color-circle" [id]="item.color + i">
                    {{ getColor(item.color + i, item.color) }}
                  </p>
                  <span class="title">{{ item.color }}</span>
                </div>
              </div>
              <div class="quantity-body">
                <div class="quantity-inner">
                  <span>{{ item.quantity }}</span>
                </div>
              </div>
              <div class="price-body">
                <div class="price-inner">
                  <p>
                    $<span>{{ item.quantity * item.cartPrice }}</span
                    >USD
                  </p>
                </div>
              </div>
            </div>
            <i class="fas fa-times icon" (click)="selectProduct(item)"></i>
          </div>
        </div>
        <div *ngIf="shopType != 1">
          <div
            class="product-detail"
            *ngFor="let item of selectedProductList; let i = index"
          >
            <div class="product-body">
              <div class="left-detail">
                <div class="product-name-body">
                  <div class="image-box">
                    <img
                      class="image"
                      src="../../../../assets/images/shop/retail/order/order-2.jpg"
                    />
                  </div>
                  <div class="product-title">
                    <p class="title">{{ item.productName }}</p>
                    <!-- <p class="order-number">
                    Order ID: <span>000000000000000</span>
                  </p> -->
                  </div>
                </div>
              </div>
              <div style="width: 55%">
                <div
                  class="right-detail"
                  style="width: 100%"
                  *ngFor="let det of item.wholesaleCartDetails"
                >
                  <div class="color-body">
                    <div class="color-inner">
                      <!-- <img
                        class="image"
                        src="../../../assets/images/shop/home/seller.png"
                      /> -->
                      <p class="color-circle" [id]="det.color + i">
                        {{ getColor(det.color + i, det.color) }}
                      </p>
                      <span class="title">{{ det.color }}</span>
                    </div>
                  </div>
                  <div class="quantity-body">
                    <div class="quantity-inner">
                      <span>{{ det.quantity }}</span>
                    </div>
                  </div>
                  <div class="price-body">
                    <div class="price-inner">
                      <p>
                        $<span>{{ det.price }}</span
                        >USD
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <i class="fas fa-times icon" (click)="selectProduct(item)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-box">
    <div class="right-box-inner">
      <div class="top-bar">
        <h4 class="title">Shipping & Billing</h4>
      </div>
      <div class="card-main-box">
        <div class="card-item">
          <div class="cards c-auto row">
            <div class="col-lg-10">
              <div class="shipping-address">
                <h6>
                  <ng-container *ngIf="shippingData; else elseTemplate">
                    {{ shippingData.fullName }}
                  </ng-container>
                  <ng-template #elseTemplate> Shipping Address </ng-template>
                </h6>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="add-button">
                <button
                  class="button"
                  (click)="shippingAddressDialog('shipping')"
                >
                  {{ shippingData ? "Edit" : "Add" }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-item">
          <div class="cards c-auto row">
            <div class="col-lg-10">
              <div class="shipping-address">
                <h6>
                  <ng-container *ngIf="billingData; else elseTemplate">
                    {{ billingData.fullName }}
                  </ng-container>
                  <ng-template #elseTemplate> Billing Address </ng-template>
                </h6>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="add-button">
                <button
                  class="button"
                  (click)="shippingAddressDialog('billing')"
                >
                  {{ billingData ? "Edit" : "Add" }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-item">
          <div class="cards c-auto row">
            <div class="col-lg-10">
              <div class="shipping-address">
                <h6>
                  <ng-container *ngIf="user; else elseTemplate">
                    {{ contactNo ? this.contactNo : this.user.contactNo }}
                  </ng-container>
                  <ng-template #elseTemplate> Phone Number </ng-template>
                </h6>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="add-button">
                <button
                  class="button"
                  (click)="emailContactDialog('contactNo')"
                >
                  {{
                    (contactNo ? contactNo : user.contactNo) ? "Edit" : "Add"
                  }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-item">
          <div class="cards c-auto row">
            <div class="col-lg-10">
              <div class="shipping-address">
                <h6>
                  <ng-container *ngIf="user; else elseTemplate">
                    {{ email ? email : user.email }}
                  </ng-container>
                  <ng-template #elseTemplate> Email Address </ng-template>
                </h6>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="add-button">
                <button class="button" (click)="emailContactDialog('email')">
                  {{ (email ? email : user.email) ? "Edit" : "Add" }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="top-bar">
        <h4 class="title">Order Summary</h4>
      </div>
      <div class="card-main-box">
        <div class="card-item">
          <div class="cards c-auto border-bottom row gx-0">
            <div class="col-lg-9">
              <p class="title">
                Subtotal<span>({{ selectedProductList.length }} items)</span>
              </p>
            </div>
            <div class="col-lg-3">
              <p class="subtotal-price">${{ getSubTotal() }}</p>
            </div>
          </div>
        </div>
        <div class="card-item">
          <div class="cards c-auto align-cart row gx-0">
            <div class="col-lg-9">
              <p class="title">Shipping</p>
            </div>
            <div class="col-lg-3">
              <p class="price">$5,000</p>
              <p
                class="shipping-variant primary"
                mat-icon-button
                [matMenuTriggerFor]="variant"
              >
                FedEx <i class="fas fa-angle-down"></i>
              </p>
              <mat-menu #variant>
                <button mat-menu-item>
                  <p class="popup-title">
                    <span>FedEx</span>
                  </p>
                </button>
                <button mat-menu-item>
                  <p class="popup-title">
                    <span>FedEx</span>
                  </p>
                </button>
                <button mat-menu-item>
                  <p class="popup-title">
                    <span>FedEx</span>
                  </p>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
        <div class="card-item">
          <div class="cards">
            <form class="voucher-code">
              <input
                type="text"
                class="feild"
                placeholder="Enter Voucher Code (if any)"
                [(ngModel)]="voucher"
                [ngModelOptions]="{ standalone: true }"
              />
            </form>
          </div>
        </div>
        <div class="card-item">
          <div class="cards c-auto row gx-0">
            <div class="col-lg-9">
              <p class="title">Total</p>
            </div>
            <div class="col-lg-3">
              <p class="subtotal-price black">${{ getSubTotal() }}</p>
            </div>
          </div>
        </div>
        <div class="card-item">
          <div class="cards c-auto row gx-0">
            <div class="col-lg-12">
              <p class="shipping-duration">Shipping time 9-15 working days</p>
            </div>
            <div class="col-lg-12">
              <button class="proceed-button" (click)="proceedToPay()">
                Proceed to Pay
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
