<div class="setup-main-box">
  <div class="setup-box">
    <div class="title-box">
      <h4 class="title">Partner's Physique</h4>
    </div>
    <ul class="listing">
      <li class="item">
        <span class="label">Age:</span>
        <span class="content">26</span>
      </li>
      <li class="item">
        <span class="label">Complextion:</span>
        <span class="content">Brown</span>
      </li>
      <li class="item">
        <span class="label">Height:</span>
        <span class="content">5.8 ft</span>
      </li>
      <li class="item">
        <span class="label">Weight:</span>
        <span class="content">73 Kg</span>
      </li>
    </ul>
  </div>
  <div class="setup-box">
    <div class="title-box">
      <h4 class="title">Religion & Believe</h4>
    </div>
    <ul class="listing">
      <li class="item">
        <span class="label">Religion:</span>
        <span class="content">Christian</span>
      </li>
      <li class="item">
        <span class="label">Sectarian:</span>
        <span class="content">Western Catholic</span>
      </li>
    </ul>
  </div>
  <div class="setup-box">
    <div class="title-box">
      <h4 class="title">Gender & Marital Status</h4>
    </div>
    <ul class="listing">
      <li class="item">
        <span class="label">Gender:</span>
        <span class="content">Male</span>
      </li>
      <li class="item">
        <span class="label">Marital Status:</span>
        <span class="content">Married but looking</span>
      </li>
    </ul>
  </div>
  <div class="setup-box">
    <div class="title-box">
      <h4 class="title">Education & Career</h4>
    </div>
    <ul class="listing">
      <li class="item">
        <span class="label">Education:</span>
        <span class="content">Graduate</span>
      </li>
      <li class="item">
        <span class="label">Profession:</span>
        <span class="content">Consultant</span>
      </li>
      <li class="item">
        <span class="label">Income:</span>
        <span class="content">$ 50K - 100k Annually</span>
      </li>
    </ul>
  </div>
  <div class="setup-box">
    <div class="title-box">
      <h4 class="title">Nationality & Location</h4>
    </div>
    <ul class="listing">
      <li class="item">
        <span class="label">Nationality:</span>
        <span class="content">Canada</span>
      </li>
      <li class="item">
        <span class="label">Location:</span>
        <span class="content">Toronto Canada</span>
      </li>
    </ul>
  </div>
  <div class="setup-box">
    <div class="title-box">
      <h4 class="title">Basic Background</h4>
    </div>
    <ul class="listing">
      <li class="item">
        <span class="label">Caste:</span>
        <span class="content">Unknown</span>
      </li>
      <li class="item">
        <span class="label">Mother Tongue:</span>
        <span class="content">French</span>
      </li>
    </ul>
  </div>
</div>
