@import "../../../../assets/partials/variable.scss";
.popup-box {
  overflow: hidden;
  .popup-header {
    position: relative;
    .close-button {
      top: 0;
      right: 20px;
      line-height: 1;
      position: absolute;
      color: $theme-content;
      transform: translateY(-50%);
    }
  }
  .popup-body {
    overflow: overlay;
    height: 75%;
    padding: 0 15px;
    .document-main {
      .cover-box {
        .title {
          font-size: 13px;
          font-weight: 800;
        }
        .browse {
          opacity: 1;
          width: 100%;
          height: 100px;
          cursor: pointer;
          border-radius: 15px;
          background: $theme-bg-sidebar;
          transition: 0.2s ease-out;
          display: flex;
          align-items: center;
          justify-content: center;
          .upload-field {
            opacity: 0;
            cursor: pointer;
            position: absolute;
          }
          .icon {
            cursor: pointer;
            color: $theme-primary;
          }
          span {
            padding-left: 10px;
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            color: $theme-primary;
          }
        }
        // &:hover {
        //     .browse {
        //         opacity: 1;
        //     }
        // }
      }
      .field-container {
        margin: 10px 0;
        label {
          font-size: 14px;
          font-weight: 600;
          margin-left: 10px;
          color: $theme-black;
        }
      }
    }
    .create-main {
      .cover-box {
        margin-bottom: 15px;
        .title {
          font-size: 13px;
          font-weight: 800;
        }
        .host-box {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .image {
            border: 2px solid $theme-primary;
            padding: 2px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
          }
          .title {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 0px;
            color: $theme-black;
          }
          .content {
            display: block;
            font-size: 12px;
            line-height: 1.5;
            font-weight: 600;
            color: $theme-content-dark;
          }
        }
        .browse {
          opacity: 1;
          width: 100%;
          height: 100px;
          cursor: pointer;
          border-radius: 8px;
          background: $theme-bg-sidebar;
          transition: 0.2s ease-out;
          display: flex;
          align-items: center;
          justify-content: center;
          .upload-field {
            opacity: 0;
            cursor: pointer;
            position: absolute;
          }
          .icon {
            cursor: pointer;
            color: $theme-content;
            font-size: 40px;
          }
        }
        .event-date {
          form {
            margin: 10px 0;
          }
        }
        .event-privacy {
          .field {
            font-size: 12px;
          }
          .arrow {
            background-size: 30px 11px;
          }
        }
        .event-location {
          position: relative;
          .price-sign {
            position: absolute;
            top: 40%;
            left: 20px;
            transform: translateY(-50%);
          }
          .icon {
            position: absolute;
            top: 45%;
            right: 15px;
            transform: translateY(-50%);
            font-size: 14px;
            color: $theme-primary;
          }
        }
        .event-discripton {
          textarea {
            background: $theme-bg-sidebar;
            width: 100%;
            height: 120px;
            padding: 10px 20px;
            border: unset;
            outline: unset;
            border-radius: 8px;
            font-weight: 600;
            font-size: 14px;
            resize: unset;
            &::placeholder {
              font-size: 12px;
              color: $theme-content;
            }
          }
        }
        .field {
          height: 35px;
          padding-left: 20px;
          &::placeholder {
            font-size: 12px;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      .field-container {
        margin: 10px 0;
        label {
          font-size: 14px;
          font-weight: 600;
          margin-left: 10px;
          color: $theme-black;
        }
      }
    }
  }
  .action-buttons {
    position: unset;
    padding-bottom: 40px;
    .btn {
      width: 120px;
    }
  }
}
::ng-deep .event-date .mat-radio-label-content {
  font-size: 13px;
  font-weight: 800;
  color: $theme-black;
}
