<div class="home-layout">
  <div class="left-box">
    <h4 class="title w-100">Overview</h4>
    <div class="performance-box">
      <h4 class="title w-100">Performance</h4>
      <div class="inner-box">
        <span class="heading">Order</span>
        <ul class="listing">
          <li class="item">
            <span>Shipped on Time</span>
            <span class="value">-</span>
          </li>
          <li class="item">
            <span>Cancellation Rate</span>
            <span class="value">-</span>
          </li>
          <li class="item">
            <span>Return Rate</span>
            <span class="value">-</span>
          </li>
        </ul>
      </div>
      <div class="inner-box">
        <span class="heading">Rating</span>
        <ul class="listing">
          <li class="item">
            <span>Positive Seller Rating</span>
            <span class="value">100%</span>
          </li>
          <li class="item">
            <span>Product Rating</span>
            <span class="value">-</span>
          </li>
          <li class="item">
            <span>Response Rate</span>
            <span class="value">-</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="right-box pr-0">
    <div class="right-box-inner">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>Questions</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-main-box">
            <div class="card-item">
              <div class="cards row gx-0">
                <div class="col-lg-11">
                  <span class="primary">Q:</span>
                  <p>Lorem ipsum dolor sit amet?</p>
                </div>
                <div class="col-lg-1">
                  <i class="fas fa-share icon primary"></i>
                </div>
              </div>
            </div>
            <div class="card-item">
              <div class="cards row gx-0">
                <div class="col-lg-11">
                  <span class="primary">Q:</span>
                  <p>Lorem ipsum dolor sit amet?</p>
                </div>
                <div class="col-lg-1">
                  <i class="fas fa-share icon primary"></i>
                </div>
              </div>
            </div>
            <div class="card-item">
              <div class="cards row gx-0">
                <div class="col-lg-11">
                  <span class="primary">Q:</span>
                  <p>Lorem ipsum dolor sit amet?</p>
                </div>
                <div class="col-lg-1">
                  <i class="fas fa-share icon primary"></i>
                </div>
              </div>
            </div>
            <div class="card-item">
              <div class="cards row gx-0">
                <div class="col-lg-11">
                  <span class="primary">Q:</span>
                  <p>Lorem ipsum dolor sit amet?</p>
                </div>
                <div class="col-lg-1">
                  <i class="fas fa-share icon primary"></i>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
