@import "../../../../../assets/partials/variable.scss";
.popup-box {
  .popup-header {
    position: relative;
    .close-button {
      top: 0;
      right: 20px;
      line-height: 1;
      position: absolute;
      color: $theme-content;
      transform: translateY(-50%);
    }
  }
  .popup-body {
    margin: 15px 0 30px;
    .title {
      font-weight: 700;
      font-size: 17px;
      margin-bottom: 10px;
    }
    .report-box {
      .reason-content {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        .content {
          margin-bottom: 0;
          width: 90%;
          font-size: 14px;
          font-weight: 600;
          color: $theme-black;
        }
        .icon {
          font-size: 14px;
          color: $theme-black;
        }
      }
    }
    .report-detail-box {
      .field {
        border-radius: 25px;
        height: 35px;
        &::placeholder {
          font-size: 12px;
        }
      }
      .text-area {
        resize: unset;
        height: 90px;
        border-radius: 15px;
        padding-top: 10px;
      }
    }
    .report-detail-content {
      .content {
        font-size: 12px;
        color: $theme-content;
      }
    }
    .report-detail-copyright {
      .field-content {
        font-size: 12px;
        color: $theme-content;
      }
      .field {
        border-radius: 25px;
        height: 35px;
        margin: 5px 0 15px;
        &::placeholder {
          font-size: 12px;
        }
      }
      .content {
        font-size: 12px;
        color: $theme-content;
        line-height: 1.3;
      }
    }
  }
  .action-buttons {
    position: unset;
    .btn-save {
      width: 100%;
      padding: 8px 0;
      font-size: 14px;
      font-weight: 600;
      color: $theme-white;
      border-radius: 25px;
      background-color: $theme-primary;
    }
  }
}
