@import "../../../../assets/partials/variable.scss";
.profile-layout {
  display: flex;
  padding: 20px;
  flex-flow: wrap;
  padding-left: 0;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $theme-white;
  .left-box {
    flex: 0 0 70%;
    .search-box {
      .search {
        input {
          width: 250px;
          padding-right: 20px;
          background-color: $theme-bg-sidebar;
        }
      }
    }
    .friend-list {
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: wrap;
      margin-left: -10px;
      align-items: center;
      list-style-type: none;
      flex: 0 0 calc(100% + 10px);
      justify-content: flex-start;
      .item {
        display: flex;
        margin-left: 10px;
        padding: 10px 10px;
        border-radius: 15px;
        align-items: center;
        margin-bottom: 10px;
        flex: 0 0 calc(50% - 10px);
        justify-content: flex-start;
        border: 1px solid $theme-border;
        .profile-image {
          width: 50px;
          height: 50px;
          display: flex;
          margin: 0 auto;
          position: relative;
          align-items: center;
          justify-content: center;
          img {
            width: 50px;
            height: 50px;
            display: block;
            margin: 0 auto;
            cursor: pointer;
            position: absolute;
            border-radius: 50%;
            border: 2px solid $theme-white;
          }
          &:before {
            top: 50%;
            left: 50%;
            width: 55px;
            content: "";
            height: 55px;
            border-radius: 50%;
            position: absolute;
            background: $theme-gradient;
            transform: translate(-50%, -50%);
          }
        }
        .profile-info {
          margin: 10px;
          display: flex;
          flex-flow: wrap;
          position: relative;
          align-items: center;
          justify-content: flex-start;
          .title {
            width: 90%;
            font-size: 14px;
            cursor: pointer;
            font-weight: 600;
            margin-bottom: 2px;
            color: $theme-black;
            max-width: max-content;
          }
          .content {
            width: 90%;
            display: block;
            font-size: 12px;
            line-height: 1.5;
            font-weight: 600;
            color: $theme-content;
          }
          .icon {
            top: 50%;
            right: 0;
            cursor: pointer;
            position: absolute;
            color: $theme-content;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  .right-box {
    flex: 0 0 30%;
    padding: 0 20px;
    padding-right: 0;
    background-color: $theme-white;
    .right-box-inner {
      padding: 20px;
      border-radius: 8px;
      background-color: $theme-bg-sidebar;
      .card-main-box {
        .card-item {
          .cards {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.add-frined-btn {
  font-size: 13px;
  padding: 3px 20px;
  border-radius: 20px;
  color: white;
  background: #23cf70;
  padding: 3px 20px;
  i {
    margin: 0px 10px 0 -5px;
  }
}
