<div class="public-layout">
  <div class="detial-box">
    <div class="title-box">
      <h4 class="title">Language & Region</h4>
    </div>
  </div>

  <ul class="listing">
    <li class="item">
      <span class="box-title">Language</span>
      <form class="row">
        <div class="col-lg-6 col-6">
          <label
            >Language for buttons, titles and other text from the platform for
            this account.
          </label>
          <select class="field arrow">
            <option value="" selected disabled hidden>Select Language</option>
            <option value="1">Chinese</option>
            <option value="2">English</option>
          </select>
        </div>
      </form>
    </li>
    <li class="item">
      <span class="box-title">Currency Conversion</span>
      <form class="row">
        <div class="col-lg-6 col-6">
          <label>Select currency according to your country or preference</label>
          <select class="field arrow">
            <option value="" selected disabled hidden>Select Currency</option>
            <option value="1">US Dollar</option>
            <option value="2">EURO</option>
            <option value="3">PKR</option>
          </select>
        </div>
      </form>
    </li>
  </ul>
  <div class="action-buttons">
    <button class="button">Cancel</button>
    <button class="button">Save Changes</button>
  </div>
</div>
