@import "../../../assets/partials/variable.scss";
.header {
  width: 100%;
  height: 45px;
  display: flex;
  margin-bottom: 20px;
  .navigation {
    width: 50%;
    background: $theme-bg-sidebar;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    list-style: none;
    padding-left: 25px;
    position: relative;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 100%;
      background-color: #fff;
      top: 0px;
      right: -8px;
      transform: skewX(-20deg);
      border-top: 1px solid $theme-bg-sidebar;
      border-bottom: 1px solid $theme-bg-sidebar;
    }
    .list {
      padding-right: 25px;
      .title {
        color: $theme-content;
        text-transform: capitalize;
        padding: 12px 0;
        display: inline-block;
        text-decoration: none;
        position: relative;
        font-size: 13px;
        transition: 0.4s all;
        cursor: pointer;
        font-weight: 600;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $theme-primary;
          visibility: hidden;
          opacity: 0;
          transition: 0.4s all;
        }
        &:hover {
          color: #49d485;
          &::before {
            visibility: visible;
            opacity: 1;
          }
        }
        .icon {
          font-size: 13px;
          position: absolute;
          line-height: 0.6;
          display: inline-block;
          bottom: 16px;
          right: -1px;
        }
        &.active {
          position: relative;
          color: $theme-primary;
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $theme-primary;
            visibility: visible;
            opacity: 1;
            transition: 0.4s all;
          }
          .icon {
            color: $theme-primary;
          }
        }
      }
      &:first-child {
        .title {
          padding-right: 10px;
        }
      }
      &:hover {
        .title {
          color: $theme-primary;
        }
      }
    }
  }
  .search-bar {
    width: 25%;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    justify-content: flex-start;
    border-top: 1px solid $theme-bg-sidebar;
    border-bottom: 1px solid $theme-bg-sidebar;
    .icon {
      color: #49d485;
      width: 10%;
      padding-right: 10px;
    }
    .feild {
      width: 85%;
      border: none;
      outline: none;
      line-height: 1;
      font-size: 14px;
      font-weight: 500;
      color: $theme-black;
      &::placeholder {
        color: $theme-content;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  .manage-store {
    display: flex;
    background: #19100b;
    padding: 12px 0;
    align-items: center;
    width: 25%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
    height: 100%;
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 100%;
      background-color: #fff;
      top: 0;
      left: -10px;
      transform: skewX(-20deg);
      z-index: 1;
      border-top: 1px solid $theme-bg-sidebar;
      border-bottom: 1px solid $theme-bg-sidebar;
    }
    p {
      margin-bottom: 0;
      color: #fff;
      font-size: 14px;
      line-height: 1;
      width: 95%;
      margin-right: auto;
      text-align: center;
    }
    .image {
      width: 28px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
    &:hover {
      .title {
        color: $theme-primary;
      }
      .icon {
        color: $theme-primary;
        visibility: visible;
        opacity: 1;
      }
      .sub-category {
        visibility: visible;
        opacity: 1;
        width: 250px;
      }
    }
  }
}

.search-container {
  max-height: calc(100vh - 360px);
  overflow: auto;
  background: #fff;
  margin-top: -20px;
  z-index: 11111;
  position: absolute;
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 21%);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 21%);
}

.prod-item {
  cursor: pointer;
}
.prod-item:hover {
  font-size: 18px;
  background: #dfffee;
  padding: 5px;
}
