<div class="profile-layout">
  <div class="left-box">
    <div class="search-box">
      <div class="search">
        <i class="fa fa-search icon"></i>
        <input type="text" placeholder="Search by events" />
      </div>
    </div>
    <div class="title-box">
      <h4 class="title">Events Hosted</h4>
      <button class="button">View All</button>
    </div>
    <ul class="event-list">
      <li class="item row gx-0">
        <div class="col-lg-3">
          <button class="profile-image">
            <img
              class="image"
              src="../../../../assets/images/home/sidebar/profile-image.PNG"
            />
          </button>
        </div>
        <div class="col-lg-9">
          <div class="profile-info">
            <p class="title">Car Showcase</p>
            <span class="content">July 5th 2017</span>
          </div>
        </div>
      </li>
      <li class="item row gx-0">
        <div class="col-lg-3">
          <button class="profile-image">
            <img
              class="image"
              src="../../../../assets/images/home/sidebar/profile-image.PNG"
            />
          </button>
        </div>
        <div class="col-lg-9">
          <div class="profile-info">
            <p class="title">Car Showcase</p>
            <span class="content">July 5th 2017</span>
          </div>
        </div>
      </li>
    </ul>
    <div class="title-box">
      <h4 class="title">Events Attended</h4>
      <button class="button">View All</button>
    </div>
    <ul class="event-list">
      <li class="item row gx-0">
        <div class="col-lg-3">
          <button class="profile-image">
            <img
              class="image"
              src="../../../../assets/images/home/sidebar/profile-image.PNG"
            />
          </button>
        </div>
        <div class="col-lg-9">
          <div class="profile-info">
            <p class="title">Car Showcase</p>
            <span class="content">July 5th 2017</span>
          </div>
        </div>
      </li>
      <li class="item row gx-0">
        <div class="col-lg-3">
          <button class="profile-image">
            <img
              class="image"
              src="../../../../assets/images/home/sidebar/profile-image.PNG"
            />
          </button>
        </div>
        <div class="col-lg-9">
          <div class="profile-info">
            <p class="title">Car Showcase</p>
            <span class="content">July 5th 2017</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="right-box">
    <div class="right-box-inner">
      <div class="top-bar">
        <h4 class="title">Events Invitations</h4>
      </div>
      <div class="card-main-box">
        <div class="card-item">
          <div class="cards row gx-0">
            <div class="col-lg-2">
              <img
                class="avatar circle border"
                src="../../../assets/images/groups/group-profile.jpg "
              />
            </div>
            <div class="col-lg-10">
              <div class="cards row gx-0 pt-0">
                <div class="col-lg-9">
                  <p class="title">Event 1</p>
                  <span class="content">50 Going</span>
                </div>
                <div class="col-lg-3">
                  <div class="action-buttons">
                    <button class="button button-success">
                      <i class="fas fa-check icon"></i>
                    </button>
                    <button class="button button-gray">
                      <i class="fas fa-times icon"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-item">
          <div class="cards row gx-0">
            <div class="col-lg-2">
              <img
                class="avatar circle border"
                src="../../../assets/images/groups/group-profile.jpg "
              />
            </div>
            <div class="col-lg-10">
              <div class="cards row gx-0 pt-0">
                <div class="col-lg-9">
                  <p class="title">Event 2</p>
                  <span class="content">50 Going</span>
                </div>
                <div class="col-lg-3">
                  <div class="action-buttons">
                    <button class="button button-gray">
                      <i class="fas fa-check icon"></i>
                    </button>
                    <button class="button button-gray">
                      <i class="fas fa-times icon"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-item">
          <div class="cards row gx-0">
            <div class="col-lg-2">
              <img
                class="avatar circle border"
                src="../../../assets/images/groups/group-profile.jpg "
              />
            </div>
            <div class="col-lg-10">
              <div class="cards row gx-0 pt-0">
                <div class="col-lg-9">
                  <p class="title">Event 3</p>
                  <span class="content">50 Going</span>
                </div>
                <div class="col-lg-3">
                  <div class="action-buttons">
                    <button class="button button-gray">
                      <i class="fas fa-check icon"></i>
                    </button>
                    <button class="button button-warning">
                      <i class="fas fa-times icon"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
