<div class="public-layout">
  <div class="detial-box">
    <div class="title-box">
      <h4 class="title">General</h4>
    </div>
  </div>

  <ul class="listing">
    <li class="item">
      <span class="box-title">Personal Information</span>
      <form class="row">
        <div class="col-lg-6 col-6">
          <label>Name </label>
          <input class="field" type="text" />
        </div>
        <div class="col-lg-6 col-6">
          <label>Email Address </label>
          <input class="field" type="mail" />
        </div>
        <div class="col-lg-6 col-6">
          <label>Contact Number </label>
          <input class="field" type="text" />
        </div>
      </form>
    </li>
    <li class="item">
      <span class="box-title">Change Password</span>
      <div class="hint">
        <b>Note:</b>
        <span class="text"
          >Password should have at least 8 characters. Password should contain
          alphabetic and numeric values.</span
        >
      </div>
      <form class="row">
        <div class="col-lg-6 col-6">
          <label>Current Password</label>
          <input class="field" type="text" />
        </div>
        <div class="col-lg-6 col-6">
          <label>New Password</label>
          <input class="field" type="text" />
        </div>
        <div class="col-lg-6 col-6">
          <label>Re-type New Password</label>
          <input class="field" type="text" />
        </div>
      </form>
    </li>
  </ul>
  <div class="action-buttons">
    <button class="button">Cancel</button>
    <button class="button">Save Changes</button>
  </div>
</div>
