<ul class="section-nav">
  <li
    class="item"
    [routerLink]="['../discover']"
    [routerLinkActive]="['active']"
  >
    Discover
  </li>
  <li
    class="item"
    [routerLink]="['../my-groups']"
    [routerLinkActive]="['active']"
  >
    My Groups
  </li>
  <li
    class="item"
    [routerLink]="['../public-groups']"
    [routerLinkActive]="['active']"
  >
    Public
  </li>
  <li
    class="item"
    [routerLink]="['../private-groups']"
    [routerLinkActive]="['active']"
  >
    Private
  </li>
</ul>
