<div class="popup-box">
  <div class="popup-header">
    <h4 class="title">Add College</h4>
  </div>
  <div class="popup-body">
    <input
      class="field"
      type="text"
      placeholder="College name"
      [(ngModel)]="name"
    />
    <input
      class="field"
      type="text"
      placeholder="Degree"
      [(ngModel)]="degree"
    />
    <label class="label">Time Period</label>
    <form>
      <mat-radio-group>
        <!-- <mat-radio-button value="currentlyEmployed"
          >Currently a student</mat-radio-button
        > -->
        <mat-checkbox
          class="example-margin"
          [checked]="isCurrentlyEmployed"
          (change)="check($event.checked)"
          >Currently a student</mat-checkbox
        >
      </mat-radio-group>
    </form>
    <div class="field-container">
      <select class="field arrow" [(ngModel)]="fromDate">
        <option *ngFor="let item of yearList" [value]="item" [label]="item">
          Year
        </option>
      </select>
      <label class="label" [hidden]="isCurrentlyEmployed">To</label>
      <select
        class="field arrow"
        [hidden]="isCurrentlyEmployed"
        [(ngModel)]="toDate"
      >
        <option *ngFor="let item of yearList" [value]="item" [label]="item">
          Year
        </option>
      </select>
    </div>
  </div>
  <div class="action-buttons">
    <div class="right-box">
      <button class="btn close" [mat-dialog-close]>Cancel</button>
      <button class="btn add" (click)="add()">Add</button>
    </div>
  </div>
</div>
