@import "../../../../../assets/partials/variable.scss";
.popup-box {
  .popup-body {
    .label {
      font-size: 14px;
      margin-top: 10px;
      font-weight: 800;
      margin-bottom: 5px;
    }
    .field-container {
      display: flex;
      flex-flow: wrap;
      text-align: left;
      margin-top: 15px;
      margin-left: -10px;
      align-items: center;
      flex: 0 0 calc(100% + 10px);
      justify-content: flex-start;
      .label {
        margin: 0;
        line-height: 1;
        font-size: 14px;
        font-weight: 800;
        padding-left: 10px;
      }
      .field {
        width: auto;
        margin-bottom: 0;
        margin-left: 10px;
        flex: 0 0 calc(33.33% - 10px);
      }
    }
  }
}
::ng-deep .mat-radio-label-content {
  font-size: 14px;
  font-weight: 800;
}
